extends ../layout

block content
	.container
		.row
			.span10.offset1.span-box
				.page-header	
					h1 Dropbox and LaTeX
				.long-form-features
					.row
						.span5
							h2 ShareLaTeX Dropbox Sync
							p  LaTeX and Dropbox has never been easier
							p.subdued ShareLaTeX allows you to link your account
								| to Dropbox, keeping your LaTeX work synced at all
								| times. Using LaTeX in a team is made easier with
								| dropbox allowing your team members to use their own
								| tools, and work offline if required. With all of
								| your LaTeX synced to dropbox you never have to worry
								| about keeping backups of your ShareLaTeX work again.
							ul
								li Work Offline
								li Collaborate with more people
								li Worry free backups
								li Use different LaTeX Editors
								li Easy to add new files into your ShareLaTeX project
								li Automated backup snapshots
						.span5
							img(src="/img/dropbox/dropbox_banner_tall.png", alt="Sync your ShareLaTeX LaTeX using Dropbox").noborder

				center
					a.btn.btn-large.btn-success(href='/user/subscription/plans') Sign Up Now for Dropbox Sync
				hr

				.long-form-features
					.row
						.span6
							h2 Work Offline
							p.subdued Dropbox Sync allows you to work on your
								| LaTeX offline using Dropbox, then come back to the
								| updated project in ShareLaTeX, just like you never
								| left. Being on the move with no internet connection
								| no longer means you can not work on your LaTeX
								| project, and Dropbox's great offline capabilities
								| allows you to use local editors then let Dropbox and
								| ShareLaTeX take care of the rest.
						.span4
							img(src="/img/dropbox/dropbox_progress_bar.png", alt="Dropbox changes are checked for every 15 minutes").short_image


					.row
						.span4
							img(src="/img/dropbox/share_dropbox_folder.png", alt="share latex folder with other dropbox users").short_image
						.span6
							h2 Collaborate with Anyone 
							p.subdued Not everyone wants to use ShareLaTeX, and
								| sharing your LaTeX files via Dropbox allows you to
								| collaborate with people who like to use a different
								| editor. Many people have been using LaTeX for
								| decades and do not want to move away from the tools
								| they know so well, but this no longer has to be a reason
								| to stop you working on a paper with them

					.row
						.span6
							h2 LaTeX Backups in Dropbox
							p.subdued All of your LaTeX files will be safely
								| stored in Dropbox so you no longer have to worry
								| about having another backup of your paper.
						.span4
							img(src="/img/dropbox/dropbox_logo.png", alt="Sync your ShareLaTeX LaTeX using Dropbox")

					.row
						.span4
							img(src="/img/dropbox/document_updated_modal.png", alt="Dropbox changes are checked for every 15 minutes")
						.span6
							h2 Easy to Insert Files and Folders into your ShareLaTeX Project
							p.subdued You can easily add new files into your
								| LaTeX project by just moving them into your Dropbox;
								| after a sync they will apear in ShareLaTeX.

					.row
						.span6
							h2 Automated Snapshots After Each Update
							p.subdued Each time a change is detected in Dropbox
								| ShareLaTeX takes a project snapshot meaning there is
								| no chance of your changes being lost.
						.span4
							img(src="/img/dropbox/history_diff.png", alt="snapshots are taken before changes from Dropbox are applied")

				center
					a.btn.btn-large.btn-success(href='/user/subscription/plans') Sign Up Now for Dropbox Sync

	include ../general/small-footer
