extends ../layout

block content
	.container
		.row
			.box
				.page-header
					h1 Available Themes
				div
					h3 Chrome
					img(src='/img/themes/origonal/Chrome.jpg')
					hr
					h3 Monokai
					img(src='/img/themes/origonal/Monokai.jpg')
					hr
					h3 Clouds
					img(src='/img/themes/origonal/clouds.jpg')
					hr
					h3 clouds_midnight
					img(src='/img/themes/origonal/clouds_midnight.jpg')
					hr
					h3 cobalt
					img(src='/img/themes/origonal/cobalt.jpg')
					hr
					h3 crimson_editor
					img(src='/img/themes/origonal/crimson_editor.jpg')
					hr
					h3 dawn
					img(src='/img/themes/origonal/dawn.jpg')
					hr
					h3 dreamweaver
					img(src='/img/themes/origonal/dreamweaver.jpg')
					hr
					h3 eclipse
					img(src='/img/themes/origonal/eclipse.jpg')
					hr
					h3 ide_fingers
					img(src='/img/themes/origonal/ide_fingers.jpg')
					hr
					h3 kr_theme
					img(src='/img/themes/origonal/kr_theme.jpg')
					hr
					h3 merbivore_soft
					img(src='/img/themes/origonal/merbivore.jpg')
					hr
					h3 merbivore_soft
					img(src='/img/themes/origonal/merbivore_soft.jpg')
					hr
					h3 mono_industrial
					img(src='/img/themes/origonal/mono_industrial.jpg')
					hr
					h3 pastles_on_dark
					img(src='/img/themes/origonal/pastles_on_dark.jpg')
					hr
					h3 solarized_dark
					img(src='/img/themes/origonal/solarized_dark.jpg')
					hr
					h3 solarized_light
					img(src='/img/themes/origonal/solarized_light.jpg')
					hr
					h3 tomorrow
					img(src='/img/themes/origonal/tomorrow.jpg')
					hr
					h3 tomorrow_night
					img(src='/img/themes/origonal/tomorrow_night.jpg')
					hr
					h3 tomorrow_night_blue
					img(src='/img/themes/origonal/tomorrow_night_blue.jpg')
					hr
					h3 tomorrow_night_bright
					img(src='/img/themes/origonal/tomorrow_night_bright.jpg')
					hr
					h3 tomorrow_night_eightys
					img(src='/img/themes/origonal/tomorrow_night_eightys.jpg')
					hr
					h3 twilight
					img(src='/img/themes/origonal/twilight.jpg')
					hr
					h3 vibrant_ink
					img(src='/img/themes/origonal/vibrant_ink.jpg')
			// li.span3
			//   a(href='#').thumbnail
			//     img(src='http://placehold.it/260x180', alt='')
			// li.span3
			//   a(href='#').thumbnail
			//     img(src='http://placehold.it/260x180', alt='')
			// li.span3
			//   a(href='#').thumbnail
			//     img(src='http://placehold.it/260x180', alt='')
			// li.span3
			//   a(href='#').thumbnail
			//     img(src='http://placehold.it/260x180', alt='')
