- if(typeof(recomendSubdomain) != "undefined")
	.translations-message
		.container
			.row
				.col-md-12
					a(href=recomendSubdomain.url) #{translate("click_here_to_view_sl_in_lng", {lngName:translate(recomendSubdomain.lngCode)})}
						img(src="/img/flags/32/#{recomendSubdomain.lngCode}.png")
					button.close
						span(aria-hidden="true") ×
						span.sr-only Close