.ol-autocomplete {
  .dropdown-menu {
    position: relative;
    top: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    max-height: 400px;

    &.select-dropdown-menu-expand-up {
      margin-top: 0;
      margin-bottom: 2px;
    }
  }
}
