.info-badge {
  color: var(--blue-50);
}

.alpha-badge {
  font-family: $font-family-monospace;
}

.labs-badge {
  background-color: var(--green-50);
  color: var(--white);
  border-radius: var(--border-radius-base);
  padding: var(--spacing-01);
}

.beta-badge {
  font-family: $font-family-monospace;
  background-color: var(--bg-accent-03);
  outline: 1px solid var(--green-50);
  color: var(--green-60);
}

.split-test-badge-tooltip .tooltip-inner {
  white-space: pre-wrap;
}
