:root {
  --integrations-panel-bg: var(--bg-dark-primary);
  --integrations-panel-color: var(--content-primary-dark);
  --integrations-panel-description-color: var(--content-secondary-dark);
  --integrations-panel-card-border: var(--border-divider-dark);
  --integrations-panel-card-button-hover-background: var(--bg-dark-secondary);
  --integrations-panel-card-button-background: var(--bg-dark-primary);
  --integrations-panel-badge-color: var(--content-primary);
  --integrations-panel-badge-background: var(--bg-light-tertiary);
}

@include theme('light') {
  --integrations-panel-bg: var(--white);
  --integrations-panel-color: var(--content-primary);
  --integrations-panel-description-color: var(--content-secondary);
  --integrations-panel-card-border: var(--border-divider);
  --integrations-panel-card-button-hover-background: var(--bg-light-secondary);
  --integrations-panel-card-button-background: var(--white);
  --integrations-panel-badge-color: var(--content-primary);
  --integrations-panel-badge-background: var(--bg-light-tertiary);
}

.integrations-panel {
  background-color: var(--integrations-panel-bg);
  height: 100%;
}

.integrations-panel-card-button {
  all: unset;
  display: block;
  cursor: pointer;
  background-color: var(--integrations-panel-card-button-background);
  width: 100%;

  &:hover {
    background-color: var(
      --integrations-panel-card-button-hover-background
    ) !important;

    .integrations-panel-card-icon {
      background-color: var(--bg-light-secondary);
    }
  }
}

.integrations-panel-card-contents {
  display: flex;
  margin: 0 var(--spacing-04);
  padding: var(--spacing-04) 0;
  gap: var(--spacing-04);
  border-bottom: 1px solid var(--integrations-panel-card-border);
}

.integrations-panel-card-icon {
  background-color: var(--bg-light-primary);
  color: var(--content-primary);
  border-radius: var(--border-radius-medium);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.integrations-panel-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .material-symbols {
    background: linear-gradient(
      245.63deg,
      #214475 0%,
      #254c84 28.54%,
      #6597e0 96.69%
    );
    color: transparent;
    background-clip: text;
  }
}

.integrations-panel-card-inner {
  flex: 1;
}

.integrations-panel-card-premium-badge.badge {
  color: var(--integrations-panel-badge-color);
  background-color: var(--integrations-panel-badge-background) !important;
  font-weight: 600;
}

.integrations-panel-card-title {
  font-size: var(--font-size-02);
  color: var(--integrations-panel-color);
}

.integrations-panel-card-description {
  font-size: var(--font-size-01);
  color: var(--integrations-panel-description-color);
  margin-bottom: 0;
}
