.loading {
  display: inline-flex;

  .spinner-border-sm,
  .spinner-border {
    // Ensure the thickness of the spinner is independent of the font size of its container
    font-size: var(--font-size-03);
    margin-right: var(--spacing-02);
  }

  // Adjust the small spinner to be 25% larger than Bootstrap's default in each dimension
  .spinner-border-sm {
    --bs-spinner-width: 1.25rem;
    --bs-spinner-height: 1.25rem;
  }
}

.full-size-loading-spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
