:root {
  --panel-heading-color: var(--content-primary);
  --panel-heading-button-hover-color: var(--bg-light-tertiary);

  @include theme('default') {
    .ide-redesign-main {
      --panel-heading-color: var(--content-primary-dark);
      --panel-heading-button-hover-color: var(--bg-dark-tertiary);
    }
  }
}

.panel-heading {
  color: var(--panel-heading-color);
  display: flex;
  align-items: center;
  padding: var(--spacing-03) var(--spacing-02);
  gap: 2px;
}

.panel-heading-label {
  font-size: var(--font-size-02);
  font-weight: bold;
  margin: 0;
  flex: 1;
  text-align: start;
  display: flex;
  align-items: center;
  gap: var(--spacing-02);
}

.panel-heading-close-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: var(--panel-heading-color);
  padding: var(--spacing-01);

  &:hover,
  &:focus {
    background-color: var(--panel-heading-button-hover-color);
  }
}
