:root {
  --select-background-highlighted: var(--bg-light-secondary);
}

.select-wrapper {
  position: relative;
}

.select-trigger {
  cursor: default;

  & + .form-control-end-icon {
    pointer-events: none;
  }
}

.select-highlighted {
  background-color: var(--select-background-highlighted);
}

.select-portal-popover {
  z-index: calc(#{$zindex-modal} + 1);
}

.select-portal-menu {
  position: static;
  width: 100%;
}
