:root {
  --select-background-highlighted: var(--bg-light-secondary);
}

.select-wrapper {
  position: relative;
}

.select-trigger {
  cursor: default;

  & + .form-control-end-icon {
    pointer-events: none;
  }
}

.select-highlighted {
  background-color: var(--select-background-highlighted);
}
