.stepper {
  display: flex;
  gap: var(--spacing-05);
  width: 100%;
  height: 6px;

  .step {
    width: 100%;
    border-radius: 6px;
    background: var(--neutral-20);
  }

  .step.completed {
    background: var(--green-50);
  }

  .step.active {
    background: var(--green-20);
  }
}
