.row.row-spaced-large.text-centered
	.col-sm-8.col-sm-offset-2.col-xs-12.card.plans-v2-university-info
		h3 #{translate('would_you_like_to_see_a_university_subscription')}
		.row-spaced
		p #{translate('student_and_faculty_support')}
		p #{translate('let_us_know_which_university_you_are_from')}
		button.btn.plans-v2-btn-header.text-capitalize #{translate('show_your_support')}