#publisher-hub {
  .recent-activity {
    .hub-big-number {
      text-align: right;
      padding-right: var(--spacing-06);
    }
  }

  #templates-container {
    width: 100%;

    tr {
      border: 1px solid var(--bg-light-secondary);
    }

    td {
      padding: var(--spacing-06);
    }

    td:last-child {
      text-align: right;
    }

    .title-cell {
      max-width: 300px;
    }

    .title-text {
      font-weight: bold;
    }

    .hub-big-number {
      width: 60%;
      padding-right: var(--spacing-04);
      padding-top: var(--spacing-04);
      text-align: right;
    }

    .hub-number-label,
    .since {
      width: 35%;
      float: right;

      @include media-breakpoint-down(md) {
        float: none;
      }
    }

    .hub-long-big-number {
      padding-right: var(--spacing-10);
    }

    .created-on {
      @include body-sm;

      color: var(--content-disabled);
      font-style: italic;
    }
  }

  .overbox {
    margin: 0;
    padding: var(--spacing-10) var(--spacing-07);
    background: var(--white);
    border: 1px solid var(--content-disabled);
  }
}
