script(type="text/ng-template", id="groupPlanModalInquiryTemplate")
	.modal-header
		h3 #{translate("group_plan_enquiry")}
	.modal-body
		form.text-left.form(ng-controller="GroupPlanContactController", ng-submit="contactUs()")
			span(ng-show="sent == false && error == false")
				.form-group
					label#title9(for='Field9')
						| Name
					input#Field9.field.text.medium.span8.form-control(ng-model="form.name", maxlength='255', tabindex='1', onkeyup='')
				label#title11.desc(for='Field11')
					| Email
				.form-group
					input#Field11.field.text.medium.span8.form-control(ng-model="form.email", name='Field11', type='email', spellcheck='false', value='', maxlength='255', tabindex='2')
				label#title12.desc(for='Field12')
					| University / Company
				.form-group
					input#Field12.field.text.medium.span8.form-control(ng-model="form.university", name='Field12', type='text', value='', maxlength='255', tabindex='3', onkeyup='')
				label#title13.desc(for='Field13')
					| Position
				.form-group
					input#Field13.field.text.medium.span8.form-control(ng-model="form.position", name='Field13', type='text', value='', maxlength='255', tabindex='4', onkeyup='')
				.form-group
					input(ng-model="form.source", type="hidden", ng-init="form.source = '__ref__'; form.subject = 'General enquiry for larger ShareLaTeX use';")
				.form-group.text-center
					input#saveForm.btn-success.btn.btn-lg(name='saveForm', type='submit', ng-disabled="sending",  value='Request a quote')
			span(ng-show="sent == true && error == false")
				p Request Sent, Thank you.
			span(ng-show="error")
				p Error sending request.