script(type="text/ng-template", id="groupPlanModalUpgradeTemplate")
	.modal-header
		h2 Customize your group subscription
		h3 Save 30% or more
	.modal-body.plans.group-subscription-modal
		.container-fluid
			.row
				.col-md-6.text-center
					.circle.circle-lg
						| {{ recurlyPrice.total }}
						span.small / year
						br
						span.circle-subtext {{perUserDisplayPrice}} per user
					ul.list-unstyled
						li Each user will have access to:
						li &nbsp;
						li(ng-if="selected.plan_code == 'collaborator'")
							strong #{translate("collabs_per_proj", {collabcount:10})}
						li(ng-if="selected.plan_code == 'professional'")
							strong #{translate("unlimited_collabs")}
						+features_premium
				.col-md-6
					form.form
						.form-group
							label(for='plan_code')
								| Plan
							label(ng-repeat="plan_code in options.plan_codes" class="group-plan-option")
								input(type="radio" name="plan_code" ng-model="selected.plan_code" value="{{plan_code.code}}")
								span {{plan_code.display}}
						.form-group
							label(for='size')
								| Number of users
							select.form-control(id="size", ng-model="selected.size")
								option(ng-repeat="size in options.sizes", value="{{size}}") {{ size }}
						.form-group
							label(for='currency')
								| Currency
							select.form-control(disabled id="currency", ng-model="selected.currency")
								option(ng-repeat="currency in options.currencies", value="{{currency.code}}") {{ currency.display }}
						.form-group
							label(for='usage')
								| Overleaf offers a 40% educational discount for groups of 10 or more.
						label.group-plan-option
							input(id="usage", type="checkbox" ng-model="selected.usage" ng-true-value="'educational'" ng-false-value="'enterprise'")
							span This license is for educational purposes (applies to students or faculty using Overleaf for teaching)
			.row
				.col-md-12.text-center
					.educational-discount-badge
						div(ng-hide="selected.usage !== 'educational'")
							p.applied(ng-show="discountEligible")
								| 40% educational discount applied!
							p.ineligible(ng-hide="discountEligible")
								| The educational discount is available for groups of 10 or more
	.modal-footer
		.text-center
			p(ng-show="recurlyPrice.includesTax") Total:
				strong  {{ recurlyPrice.total }}
				|  ({{recurlyPrice.subtotal}} + {{recurlyPrice.tax}} tax) per year
			p
				strong Your new subscription will be billed immediately to your current payment method.
			hr.thin
			button.btn.btn-primary.btn-lg(ng-disabled='inflight' ng-click="upgrade()") Upgrade Now
			hr.thin
			a(
				href
				ng-controller="ContactGeneralModal"
				ng-click="openModal()"
			) Need more than 50 licenses? Please get in touch

