.row.row-spaced-large
	.col-md-12
		.page-header.plans-header.plans-subheader.text-centered
			h2 #{translate('in_good_company')}
.row
	.col-md-6
		div
			.row
				.col-md-3
					.circle-img
						img(src=buildImgPath('advocates/schultz.jpg') alt="Kevin Schultz")
				.col-md-9
					blockquote
						p It is the ability to collaborate very easily that drew me to Overleaf.
						footer Kevin Schultz, Assistant Professor of Physics, Hartwick College
	.col-md-6
		div
			.row
				.col-md-3
					.circle-img
						img(src=buildImgPath('advocates/dagoret-campagne.jpg') alt="Dr Sylvie Dagoret-Campagne")
				.col-md-9
					blockquote
						p Overleaf is a great educational tool for publishing scientific documents.
						footer Dr Sylvie Dagoret-Campagne, Director of Research at CNRS, University of Paris-Saclay