extends ../layout-react

block entrypointVar
	- entrypoint = 'pages/user/subscription/canceled-subscription'

block append meta
	meta(name='ol-user' data-type='json' content=user)

block content
	main#subscription-canceled-root.content.content-alt
