extends ../layout-react

block vars
	- bootstrap5PageStatus = 'enabled' // One of 'disabled', 'enabled', and 'queryStringOnly'

block entrypointVar
	- entrypoint = 'pages/user/subscription/canceled-subscription'

block append meta
	meta(name="ol-user" data-type="json" content=user)

block content
	main.content.content-alt#subscription-canceled-root
