extends ../layout

include ./dashboard/_team_name_mixin

block content
	.content.content-alt(ng-cloak)
		.container
			.row
				.col-md-8.col-md-offset-2
					.card
						.page-header
							h1 #{translate("your_subscription")} 

						-var hasAnySubscription = false
						-if (personalSubscription)
							-hasAnySubscription = true
							include ./dashboard/_personal_subscription

						-if (managedGroupSubscriptions && managedGroupSubscriptions.length > 0)
							-hasAnySubscription = true
							include ./dashboard/_managed_groups

						-if (managedInstitutions && managedInstitutions.length > 0)
							-hasAnySubscription = true
							include ./dashboard/_managed_institutions

						-if (managedPublishers && managedPublishers.length > 0)
							-hasAnySubscription = true
							include ./dashboard/_managed_publishers

						-if (memberGroupSubscriptions && memberGroupSubscriptions.length > 0)
							-hasAnySubscription = true
							include ./dashboard/_group_memberships

						-if (confirmedMemberInstitutions && confirmedMemberInstitutions.length > 0)
							-hasAnySubscription = true
							include ./dashboard/_institution_memberships

						-if (v1SubscriptionStatus)
							include ./dashboard/_v1_subscription_status

						-if (!hasAnySubscription)
							p You're on the #{settings.appName} Free plan.
							|
							a(href="/user/subscription/plans").btn.btn-primary Upgrade now
