extends ../layout

include ./dashboard/_team_name_mixin

block scripts
	script(src="https://js.recurly.com/v4/recurly.js")

block content
	.content.content-alt(ng-cloak)
		.container
			.row
				.col-md-8.col-md-offset-2
					-if (fromPlansPage)
						.alert.alert-warning
							p You already have a subscription
					.card
						.page-header
							h1 #{translate("your_subscription")}

						-var hasDisplayedSubscription = false
						-if (personalSubscription)
							-hasDisplayedSubscription = true
							include ./dashboard/_personal_subscription

						-if (managedGroupSubscriptions && managedGroupSubscriptions.length > 0)
							include ./dashboard/_managed_groups

						-if (managedInstitutions && managedInstitutions.length > 0)
							include ./dashboard/_managed_institutions

						-if (managedPublishers && managedPublishers.length > 0)
							include ./dashboard/_managed_publishers

						-if (memberGroupSubscriptions && memberGroupSubscriptions.length > 0)
							-hasDisplayedSubscription = true
							include ./dashboard/_group_memberships

						-if (confirmedMemberInstitutions && confirmedMemberInstitutions.length > 0)
							include ./dashboard/_institution_memberships

						-if (v1SubscriptionStatus)
							include ./dashboard/_v1_subscription_status

						-if (!hasDisplayedSubscription)
							-if (hasSubscription)
								-hasDisplayedSubscription = true
								p(ng-non-bindable) You're on an #{settings.appName} Paid plan. Contact
									a(href="mailto:support@overleaf.com") support@overleaf.com
									|  to find out more.
							-else
								p(ng-non-bindable) You're on the #{settings.appName} Free plan.
								|
								a(href="/user/subscription/plans").btn.btn-primary Upgrade now
