extends ../layout


block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3
					.card
						.page-header
							h1.text-centered #{translate("update_your_billing_details")}
						div.text-center
							a.btn.btn-primary.btn-lg(
								href=hostedBillingDetailsPageLink
								target="_blank"
							) #{translate('open_your_billing_details_page')}
