extends ../layout

include _plans_page_mixins
include _plans_page_tables

block scripts
	script(type='text/javascript').
		window.recomendedCurrency = '#{recomendedCurrency}'
		window.abCurrencyFlag = '#{abCurrencyFlag}'

block content
	.content.content-alt
		.content.plans(ng-controller="PlansController")
			.container(class="more-details" ng-cloak)
				include _plans_page_details_more
