extends ../layout-marketing

block entrypointVar
	- entrypoint = 'pages/user/subscription/preview-change'

block append meta
	meta(name="ol-subscriptionChangePreview" data-type="json" content=changePreview)

block content
	main.content.content-alt#main-content
		#subscription-preview-change
