extends ../layout-marketing

block entrypointVar
	- entrypoint = 'pages/user/subscription/group-management/subtotal-limit-exceeded'

block append meta
	meta(name="ol-groupName", data-type="string", content=groupName)

block content
	main.content.content-alt#subtotal-limit-exceeded-root
