extends ../layout-react

block entrypointVar
	- entrypoint = 'pages/user/subscription/group-management/subtotal-limit-exceeded'

block append meta
	meta(name='ol-user' data-type='json' content=user)
	meta(name='ol-groupName' data-type='string' content=groupName)

block content
	main#subtotal-limit-exceeded-root.content.content-alt
