extends ../layout

block content

	.content.content-alt
		.container(ng-controller="AnnualUpgradeController")
			.row(ng-cloak)
				.col-md-6.col-md-offset-3
					.card(ng-init="planName = #{JSON.stringify(planName)}")
						.page-header
							h1.text-centered Move to Annual Billing
						div(ng-hide="upgradeComplete")
							span(ng-show="planName == 'student'")
								| Upgarde from Student to Student Annual and save 20% equivilent to $19.2

							span(ng-show="planName == 'collaborator'")
								| Upgarde from Collaborator to Collaborator Annual and save 20% equivilent to $36


							button.btn.btn-success(ng-click="completeAnnualUpgrade()", ng-disabled="inflight")
								span(ng-show="inflight") #{translate("processing")}
								span(ng-hide="inflight") Move to annual billing now
						div(ng-show="upgradeComplete")
							span Upgrade to annual Complete


