root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[*.go]
indent_style = tab

[*.{pug,coffee}]
indent_style = tab

[*.{pug,patch}]
trim_trailing_whitespace = false

[Jenkinsfile]
insert_final_newline = false
max_line_length = off
