script(type="text/templates")#chatWindowTemplate
	.chat-window
		.header.js-header
			h3 Chat
			.new-message-alert.js-new-message-alert
			.window-controls
				.js-minimize-toggle.minimize-toggle
		.connected-users.js-connected-users
		.sent-message-area.js-sent-message-area
			.loading.js-loading
				a(href="#").load-older-messages.js-load-older-messages Load older messages
			.sent-messages
		.new-message-area
			textarea(placeholder="Your message")

script(type="text/templates")#messageBlockTemplate
	.chat-block
		.message-block
			.timeArea
			.avatar
				img(src="{{ gravatar_url }}?d=mm&s=40", alt="{{first_name}} {{last_name}}")
			span.name {{first_name}} {{last_name}}
			.messages

