extends ../../layout-website-redesign

block vars
	- isWebsiteRedesign = true

block entrypointVar
	- entrypoint = 'pages/project-invite-not-valid'

block append meta
	meta(name='ol-user' data-type='json' content=user)

block content
	main#main-content.content.content-alt
		#project-invite-not-valid-page
