extends ../../layout-marketing

block content
	main#main-content.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2.offset-md-2
					.card.project-invite-invalid
						.card-body
							.page-header.text-center
								h1 #{translate("invite_not_valid")}
							.row.text-center
								.col-12.col-md-12
									p
										| #{translate("invite_not_valid_description")}.
							.row.text-center.actions
								.col-12.col-md-12
									a.btn.btn-secondary-info.btn-secondary(href='/project') #{translate("back_to_your_projects")}
