.fat-footer-base
	.fat-footer-base-section.fat-footer-base-meta
		.fat-footer-base-item
			.fat-footer-base-copyright © #{new Date().getFullYear()} Lemma
			a(href='/legal') #{translate('privacy_and_terms')}
		ul.fat-footer-base-item.list-unstyled.fat-footer-base-language
			include language-picker
