extends ../../../../../app/views/layout-react

block entrypointVar
	- entrypoint = 'modules/user-activate/pages/user-activate-page'

block append meta
	meta(name='ol-user' data-type='json' content=user)

block content
	#main-content.content.content-alt
		.container
			#user-activate-register-container
