extends ../../../../../app/views/layout-marketing

block entrypointVar
	- entrypoint = 'modules/user-activate/pages/user-activate-page'


block content
	.content.content-alt#main-content
		.container
			#user-activate-register-container
