.writefull-logo-bg {
  background-color: #fff;
}
.writefull-loading-bar {
  font-size: @font-size-small;
  height: 40px;
  justify-content: center;
}

.writefull-error-notification {
  margin: 48px 64px;
  width: 100%;
  max-width: 520px;
  text-align: left;
}

.writefull-disclosure-summary {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: @blue-50;
  user-select: none;
}

.editor-notification a.wf-promotion-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
