body {
    padding-top:@padding-top;
}

html, body{
    background-color:#f4f4f4;
}

h1{
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    font-size:3em;
}

h2{
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    font-size:2.2em;
}

a.plain{
   color:#404040;
}

a.plain:hover { 
  text-decoration:  none;
}


.box{
    .border-radius(10px);
    margin-bottom:15px;
    padding-top:15px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:15px;
    background-color:white;
    border:1px solid #D9D9D9;
    margin-top:18px;
	.page-header {
		margin-top: 12px;
	}
}

// This should be used when we want a .box applied to a .span[1-12] element.
// It undoes the shift in position added by the padding
.span-box {
    .border-radius(10px);
    margin-top:15px;
    padding-top:15px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:15px;
    background-color:white;
    border:1px solid #D9D9D9;
    position: relative;
    left: -30px;
}


.modal .modal-body form{
    margin:0px;
}

input.inputmodal{
    margin-bottom: 0;
    width:520px;
}

.actions{
    background:none;
    border:none;
}
