.masthead {
	position: relative;
	height: 480px;
	.title {
		margin-top: 10px;
		img {
			.box-shadow(0 0 12px #666);
			margin-top: 20px;
		}
	}
	.register {
		margin-top: 10px;
		input {
			margin-bottom: 0
		}
		.input {
			margin-bottom: 10px;
		}
		div.error {
			color: rgb(189, 7, 7);
			padding: 1px;
		}
	}
	h1, h2 {
		font-weight: 200;
		color: #333;
		text-shadow: 1px 1px 1px #ccc;
		margin: 10px 0;
	}
	h2 {
		font-size: 20pt;
		line-height: 24pt;
	}
	overflow: hidden;
}

.universities {
	overflow: hidden;
	height: 130px;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	padding: 10px;
	text-align: center;
	background-color: white;
	-webkit-box-shadow: inset 0 0 5px #888;
	margin: 0 auto 20px auto;
	p {
		color: #999;
		font-size: 16px;
		margin-bottom: 12px;
	}
}

.long-form-features {
	p {
		font-size: 16px;
		line-height: 22px;
	}
	p.subdued {
		font-size: 14px;
		color: #666;
	}
	.row {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	h2 {
		margin-top: -5px;
		margin-bottom: 8px;
	}
	img {
		border: 1px solid black;
	}
	img.noborder {
		border:none;
	}
	img.short_image {
		margin-top:35px;
	}
}

.btn-huge {
	font-size: 20px;
	padding: 12px 18px;
}

.lower-signup-button {
	text-align: center;
	margin-bottom: 20px;
}

p.team-profile {
	clear: both;
	margin-top: 10px;	
	img {
		float: left;
		padding: 10px;
		border: 1px solid #999;
		margin-right:8px;
		margin-bottom:10px;
	}
}


.registration_message {
	padding-top: 30px;
	padding-left: 30px; //need to do this as the register box isn't quite center
	text-align: center ;
	div {
		margin-top: 20px;
		font-size: 16px;
	}
}

.quote.pull-right{
	margin-top:-50px;
}
.student-blurb {
	font-size: 16px;
	line-height: 22px;
	padding: 5px;
}
.pricing-pills {
	font-size: 18px;
	padding-left: 48px;
	li a {
		padding-bottom: 8px;
		padding-top: 8px;
		margin-right: 12px;
		border-color: #eeeeee #eeeeee #dddddd;
		background-color: #eee;
	}
	margin-bottom: 0px;
}
.tagline {
	p {
		font-size: 20px;
		line-height: 25px;
		text-align: center;
	}
	margin-bottom: 30px;
}