
#projectList {
	list-style-type: none;
	margin: 0;
	
	min-height:280px;

	.project_entry {
		&:hover {
			background-color: #eaeaea;
		}
		min-height: 40px;

		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 5px;
		padding-right: 5px;

		.project-actions{
			float: right;
		}

		.projectDetails {
			padding-top: 5px;
			padding-bottom: 5px;
			color: #999;
			font-size: 12px;
		}

		.projectName {
			font-family: 'Chivo',sans-serif;
			font-weight: bold;
			font-size: 22px;
		}

		.tag-label {
			margin-right: 5px;
			font-size: 12px;
			cursor: arrow;
			i {
				margin-top: 1px;
				cursor: pointer;
			}
			margin-bottom: 5px;
		}

		.addTagButton {
			font-size: 12px;
			cursor: pointer;
			&:hover {
				background-color: #468847;
			}
		}
	}



}

#projectFilter {
	margin-left: 8px;
	width: 250px;
	margin-top: -4px;
	margin-bottom: 4px;

}






#projectListArea  {

	.search {
		position: relative;
	}
	.search .search-query {
		padding-left: 29px;
	}

	.search {

		input{
			&:focus .icon-search {
				background-image: url("/img/glyphicons-halflings-white.png")
			}	
		}

		.icon-search {
			position: absolute;
			top: 3px;
			left: 18px;

		}

		.icon-remove {			
			position: absolute;
			top: 3px;
			left:280px;
		}
	}

	.search .search-query:focus, .search .search-query.focused {
		padding-left: 30px;
	}

}

#newProject{
	.dropdown-menu {
		right: 0;
		left: auto;
	}
}

a.archived-projects {
	padding: 6px 16px;
	color: #aaa;
}

.project-actions {
	float: right;
	.dropdown-menu {
		right:0;
		left: auto;
	}
}

.normalText{
	font-size : 13px;
}

.clickable, #sections li{
	cursor: pointer; 
	cursor: hand;
}


.tag-list {
	border-left: 1px solid #D9D9D9;
	padding-left: 16px;
	#allProjectTagsArea {
		ul {
			list-style:none;
			margin: 0;
			li {
				margin: 8px 3px;
			}
		}
		.number {
			padding-left:5px;
			font-size: 12px;
			color: #999;
		}
	}
}




.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
		  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	 -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
	 -moz-background-clip: padding;
		  background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.sharelatex-intro {
	position: relative;
	padding-top: 60px;
	.create-project-arrow {
		color: #666;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 24px;
		padding: 50px 55px 0 0;
		margin-right: 20px;
		margin-top: -30px;
		background-image: url(/img/upwards-sweeping-arrow.png);
		background-repeat: no-repeat;
		background-position: top right;
	}

	.welcome {
		width: 350px;
		margin: auto;
		background-image: url(/brand/logo/logo-128.png);
		background-position: top center;
		background-repeat: no-repeat;
		h2 {
			font-size: 24px;
			margin-bottom: 6px;
		}
		p {
			font-size: 18px;
			line-height: 22px;
		}
		padding-top: 130px;
		text-align: center;
		margin-bottom: 60px;
	}
}


#userProfileInformation {
	padding-bottom: 10px;
	margin-bottom: 10px;
	.progress {
		margin-bottom:10px;
	}
	h4 {
		color:#626264;
		padding-bottom:5px;
	}
	form {
		margin:0px;
	}

}


/* AUTOCOMPLETE */

#institution_auto_complete {

	ul>li{
		list-style:none;
	}

	.autocomplete{
	  width: 100%;
	  position: relative;
	}

	.autocomplete ul{
	  position: absolute;
	  left: 0;
	  min-width: 220px;
	  border-left: 1px solid #888;
	  border-right: 1px solid #888;
	  border-bottom: 1px solid #888;
	  z-index: 1;
	  margin: -9px -1px 0px 0px;

	}

	.autocomplete li{
	  text-align: left;
	  list-style:none;
	  padding:0.4em;
	  background-color: #fff;
	}

	.autocomplete li.active{
	  background-color: #BDE1F6;
	}

	.autocomplete .highlight {
	  background-color: #E2E2E2;
	}

	.autocomplete li.active .highlight {
	  background: #666;
	  color: #fff;
	}
	
}

