extends ../../layout-react

block entrypointVar
	- entrypoint = 'pages/user/subscription/group-invites'

block append meta
	meta(name='ol-teamInvites' data-type='json' content=teamInvites)
	meta(name='ol-user' data-type='json' content=user)

block content
	main#group-invites-root.content.content-alt.team-invite
