each institution in confirmedMemberInstitutions
	if (institution.licence != 'free')
		-hasDisplayedSubscription = true
		p
			| You have a
			|
			strong(ng-non-bindable) Professional
			|
			| #{settings.appName} account as a confirmed member of
			|
			strong= institution.name
		hr

