if (personalSubscription.recurly)
	include ./_personal_subscription_recurly
else
	include ./_personal_subscription_custom

if(personalSubscription.groupPlan)
	hr
	p
		| You are the manager of a group subscription
	p
		a(href="/subscription/group").btn.btn-success !{translate("manage_group")}

hr