**.swp
node_modules
test/acceptance/fixtures/tmp
compiles
.DS_Store
*~
cache
.vagrant
db.sqlite
db.sqlite-wal
db.sqlite-shm
config/*
npm-debug.log

# managed by dev-environment$ bin/update_build_scripts
.npmrc
