extends ../layout

block content
	.content
		.container.wiki
			.row
				.col-xs-3.contents
					| !{contents.content}
				.col-xs-8.page
					.page-header
						- if (page.title == "Main Page")
							h1 ShareLaTeX Documentation
						- else
							h1 #{page.title}
						
					| !{page.content}