.hub-header {
  h2 {
    display: inline-block;
  }
  a {
    color: @ol-dark-green;
  }
  i {
    font-size: 30px;
  }
  .dropdown {
    margin-right: 10px;
  }
}
.admin-item {
  position: relative;
  margin-bottom: 60px;
  .section-title {
    text-transform: capitalize;
  }
  .alert-danger {
    color: @ol-red;
  }
}
.hidden-chart-section {
  display: none;
}
.hub-circle {
  display: inline-block;
  background-color: @accent-color-secondary;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  text-align: center;
  //padding-top: 160px / 6.4;
  img {
    height: 160px - 160px / 3.2;
  }
  padding-top: 50px;
  color: white;
}
.hub-circle-number {
  display: block;
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
}
.hub-big-number {
  float: left;
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
  color: @accent-color-secondary;
}
.hub-big-number,
.hub-number-label {
  display: block;
}
.hub-metric-link {
  position: absolute;
  top: 9px;
  right: 0;
  a {
    color: @accent-color-secondary;
  }
  i {
    margin-right: 5px;
  }
}
.custom-donut-container {
  svg {
    max-width: 700px;
    margin: auto;
  }
  .chart-center-text {
    font-family: @font-family-sans-serif;
    font-size: 40px;
    font-weight: bold;
    fill: @accent-color-secondary;
    text-anchor: middle;
  }

  .nv-legend-text {
    font-family: @font-family-sans-serif;
    font-size: 14px;
  }
}
.chart-no-center-text {
  .chart-center-text {
    display: none;
  }
}

.superscript {
  font-size: @font-size-large;
}

.admin-page {
  summary {
    // firefox does not show markers for block items
    display: list-item;
  }
}

.material-switch {
  input[type='checkbox'] {
    display: none;

    &:checked + label::before {
      background: inherit;
      opacity: 0.5;
    }
    &:checked + label::after {
      background: inherit;
      left: 20px;
    }
    &:disabled + label {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 40px;

    &:before {
      background: rgb(0, 0, 0);
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      content: '';
      height: 16px;
      margin-top: -2px;
      position: absolute;
      opacity: 0.3;
      transition: all 0.2s ease-in-out;
      width: 40px;
    }

    &:after {
      background: rgb(255, 255, 255);
      border-radius: 16px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      content: '';
      height: 24px;
      left: -4px;
      margin-top: -2px;
      position: absolute;
      top: -4px;
      transition: all 0.2s ease-in-out;
      width: 24px;
    }
  }
}
