@project-list-sidebar-wrapper-flex: 0 0 15%;

.project-list-react {
  body > .content& {
    padding-top: @header-height;
    padding-bottom: 0;
    min-height: calc(~'100vh -' @header-height);
    display: flex;
    flex-direction: column;
  }

  .container:before {
    content: '';
    display: block;
    float: left;
    height: 100%;
  }

  .fill {
    position: relative;

    &:after {
      content: '';
      display: block;
      clear: left;
    }
  }

  .project-list-wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: calc(~'100vh -' @header-height);
  }

  .project-list-sidebar-wrapper-react {
    position: relative;
    background-color: @sidebar-bg;
    flex: @project-list-sidebar-wrapper-flex;
    min-height: calc(~'100vh -' @header-height);
    max-width: 320px;
    min-width: 200px;

    .project-list-sidebar-subwrapper {
      display: flex;
      flex-direction: column;
      height: 100%;

      .project-list-sidebar-react {
        flex-grow: 1;
        padding-left: 15px;
        padding-right: 15px;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        padding-top: @content-margin-vertical;
        padding-bottom: @content-margin-vertical;
        color: @sidebar-color;

        .small {
          color: @sidebar-color;
        }

        button {
          white-space: normal;
          word-wrap: anywhere;
          // prevents buttons from expanding sidebar width
        }

        > .dropdown {
          width: 100%;

          .new-project-button {
            width: 100%;
          }
        }
      }
    }
  }

  .project-list-welcome-wrapper {
    width: 100%;
    padding-bottom: 25px;

    .welcome-new-wrapper {
      .welcome-title {
        font-size: 32px;
      }

      .welcome-message-cards-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;

        @media (min-width: @screen-md-min) {
          flex-direction: row;
          justify-content: center;
        }
      }

      .welcome-message-card-item {
        display: flex;
        flex: 1;
        flex-direction: column;

        @media (min-width: @screen-md-min) {
          flex: 0 1 310px;
        }
      }

      .welcome-message-card {
        border: 1px solid @neutral-20;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 24px 16px;
        margin: @margin-sm 0;
        width: 280px;
        height: 200px;
        position: relative;
        cursor: pointer;

        @media (min-width: @screen-md-min) {
          margin: 0 15px;
          height: 240px;
          width: auto;
        }

        &:hover {
          background-color: @ol-blue-gray-0;
        }

        .welcome-message-card-img {
          max-width: 100%;

          @media (min-width: @screen-md-min) {
            margin-bottom: 20px;
          }
        }

        .create-new-project-dropdown {
          border: 1px solid @neutral-20;
          position: absolute;
          top: 100%;
          left: 5%;
          width: 90%;
          margin-top: 8px;
          padding: 0;
          border-radius: 3px;
          z-index: 1;
          text-align: left;

          button,
          a,
          .dropdown-header {
            padding: 5px 10px;
          }

          > button {
            background-color: white;
            border: none;
            box-shadow: none;
            display: flex;
            align-items: center;
            width: 100%;

            &:hover {
              background-color: @ol-blue-gray-0;
            }
          }

          > a {
            color: @gray-dark;
            display: block;

            &:hover {
              text-decoration: none;
              background-color: @ol-blue-gray-0;
            }
          }

          hr {
            margin-top: 6px;
            margin-bottom: 6px;
          }
        }
      }

      .welcome-message-card-link {
        &,
        &:hover {
          text-decoration: none;
          color: @gray-dark;
        }
      }
    }
  }

  .project-list-main-react {
    flex: 1;
    overflow-x: hidden;
    padding: @content-margin-vertical @grid-gutter-width / 2;
  }

  .project-list-header-row {
    display: flex;
    align-items: center;
    margin-bottom: @margin-sm;
    min-height: 36px;
  }

  .project-list-title {
    min-width: 0;
    color: @content-secondary;
    font-family: Lato, sans-serif;
    font-size: @font-size-large;
    line-height: 28px;
    font-weight: bold;
  }

  ul.project-list-filters {
    margin: @margin-sm @folders-menu-margin;

    .dropdown-header {
      margin-top: @folders-title-margin-top;
      margin-bottom: @folders-title-margin-bottom;
      font-size: @folders-title-font-size;
      color: @folders-title-color;
      text-transform: @folders-title-text-transform;
      padding: 12.5px 16px;
      font-weight: @folders-title-font-weight;
      font-family: @font-family-sans-serif;
      text-transform: uppercase;
    }

    .subdued {
      color: @gray-light;
    }

    > li {
      cursor: pointer;
      position: relative;

      > button {
        display: block;
        width: 100%;
        font-weight: normal;
        text-align: left;
        color: @sidebar-link-color;
        background-color: transparent;
        border-radius: unset;
        border: none;
        border-bottom: solid 1px transparent;
        padding: @folders-menu-item-v-padding @folders-menu-item-h-padding;

        &:hover {
          background-color: @sidebar-hover-bg;
          text-decoration: @sidebar-hover-text-decoration;
        }

        &:focus {
          text-decoration: none;
          outline: none;
        }
      }

      &.separator {
        padding: @folders-menu-item-v-padding @folders-menu-item-h-padding;
        cursor: auto;
      }
    }

    > li.active {
      border-radius: @sidebar-active-border-radius;

      > button {
        background-color: @sidebar-active-bg;
        font-weight: @sidebar-active-font-weight;
        color: @sidebar-active-color;

        .subdued {
          color: @sidebar-active-color;
        }
      }
    }

    > li.tag {
      &.active {
        .tag-menu > button {
          color: white;
          border-color: white;

          &:hover {
            background-color: @folders-tag-menu-active-hover;
          }
        }
      }

      &.untagged {
        button.tag-name {
          span.name {
            font-style: italic;
            padding-left: 0;
          }
        }
      }

      &:hover {
        &:not(.active) {
          background-color: @folders-tag-hover;
        }

        .tag-menu {
          display: block;
        }
      }

      &:not(.active) {
        .tag-menu > a:hover {
          background-color: @folders-tag-menu-hover;
        }
      }

      button.tag-name {
        position: relative;
        padding: @folders-tag-padding;
        display: @folders-tag-display;
        align-items: center;
        word-wrap: anywhere;

        .tag-list-icon {
          vertical-align: sub;
          font-weight: bold;
        }

        span.name {
          padding-left: 0.5em;
          line-height: @folders-tag-line-height;
        }
      }
    }

    .tag-menu {
      button.dropdown-toggle {
        border: 1px solid @folders-tag-border-color;
        border-radius: @border-radius-small;
        background-color: transparent;
        color: @folders-tag-menu-color;
        display: block;
        width: 16px;
        height: 16px;
        position: relative;

        .caret {
          position: absolute;
          top: 6px;
          left: 1px;
        }
      }

      display: none;
      width: auto;
      position: absolute;
      top: 50%;
      margin-top: -8px; // Half the element height.
      right: 4px;

      &.open {
        display: block;
      }

      button.tag-action {
        border-radius: unset;
        width: 100%;
        background-color: transparent;
        border-color: transparent;
        color: @gray-dark;
        text-align: left;
        font-weight: normal;

        &:hover {
          color: @white;
          background-color: @ol-green;
        }

        &:active {
          outline: none;
        }
      }
    }
  }

  .project-tools {
    flex-shrink: 0;
    margin-left: auto;
  }

  .project-dash-table {
    width: 100%;
    table-layout: fixed;

    tr {
      border-bottom: 1px solid @structured-list-border-color;
    }

    th,
    td {
      padding: (@line-height-computed / 4) @line-height-computed / 2;
      vertical-align: top;
    }

    tr {
      th:first-child,
      td:first-child,
      th:last-child,
      td:last-child {
        padding-right: @line-height-computed - (@grid-gutter-width / 2);
      }
    }

    tbody {
      tr:not(.no-projects):hover {
        background-color: @structured-list-hover-color;
      }

      tr:last-child {
        border-bottom: 0 none;
      }
    }

    .table-header-sort-btn {
      border: 0;
      text-align: left;
      color: @ol-type-color;
      background-color: transparent;
      padding: 0;
      font-weight: bold;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;

      &:hover,
      &:focus {
        color: @ol-type-color;
        text-decoration: none;
      }
    }

    .dash-cell-checkbox {
      width: 5%;
      line-height: 1.55;

      input[type='checkbox'] {
        margin-top: 5px;
      }

      .dash-cell-checkbox-wrapper {
        label {
          display: block;
          margin: 0;
          line-height: 1;
        }
      }
    }

    .dash-cell-name {
      hyphens: auto;
      width: 50%;
      word-break: break-word;
    }

    .dash-cell-owner {
      width: 20%;
    }

    .dash-cell-date {
      width: 25%;
    }

    .dash-cell-actions {
      display: none;
      text-align: right;
    }

    .dash-cell-date-owner {
      font-size: 14px;
      .text-overflow();
    }

    .dash-cell-tag,
    .clone-project-tag {
      .tag-label {
        padding: 14px 0;
        cursor: pointer;

        &:not(.tag-label-close-hover) {
          &:hover,
          &:focus {
            .label.tag-label-name {
              color: @tag-color;
              background-color: @tag-bg-hover-color;
              outline-width: 0;
            }
          }
        }

        &:first-child {
          margin-left: initial;
        }
      }
    }

    @media (min-width: @screen-xs) {
      .dash-cell-checkbox {
        width: 4%;
      }

      .dash-cell-name {
        width: 50%;
      }

      .dash-cell-owner {
        width: 21%;
      }

      .dash-cell-date {
        width: 25%;
      }

      .dash-cell-actions {
        width: 0%;
      }
    }

    @media (min-width: @screen-sm) {
      .dash-cell-checkbox {
        width: 3%;
      }

      .dash-cell-name {
        width: 45%;
      }

      .dash-cell-owner {
        width: 16%;
      }

      .dash-cell-date {
        width: 21%;
      }

      .dash-cell-actions {
        display: table-cell;
        width: 15%;
      }

      .project-tools {
        float: none;
      }
    }

    @media (min-width: @screen-md) {
      .dash-cell-checkbox {
        width: 3%;
      }

      .dash-cell-name {
        width: 46%;
      }

      .dash-cell-owner {
        width: 13%;
      }

      .dash-cell-date {
        width: 16%;
      }

      .dash-cell-actions {
        width: 22%;
      }

      tbody {
        .dash-cell-actions {
          white-space: nowrap;
        }
      }
    }

    @media (min-width: @screen-lg) {
      .dash-cell-checkbox {
        width: 3%;
      }

      .dash-cell-name {
        width: 46%;
      }

      .dash-cell-owner {
        width: 15%;
      }

      .dash-cell-date {
        width: 19%;
      }

      .dash-cell-actions {
        width: 17%;
      }
    }

    @media (min-width: 1440px) {
      .dash-cell-checkbox {
        width: 2%;
      }

      .dash-cell-name {
        width: 49%;
      }

      .dash-cell-owner {
        width: 16%;
      }

      .dash-cell-date {
        width: 19%;
      }

      .dash-cell-actions {
        width: 14%;
      }
    }

    @media (max-width: @screen-xs-max) {
      @actions-btn-size: 48px;

      tr {
        position: relative;
        display: flex;
        flex-direction: column;

        td {
          padding-top: @line-height-computed / 6;
          padding-bottom: @line-height-computed / 6;
        }

        td:not(.dash-cell-actions) {
          padding-right: @actions-btn-size + 12.5px;
        }
      }

      .dash-cell-name,
      .dash-cell-owner,
      .dash-cell-date,
      .dash-cell-tag,
      .dash-cell-actions {
        display: block;
        width: auto;
      }

      .dash-cell-actions {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 !important;

        .dropdown-toggle {
          padding: 13px 15px;
          border-radius: 0;
          font-size: 14px;
        }
      }
    }
  }

  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(~'100vh -' @header-height);

    .loading-screen-brand-container {
      margin: 0 auto;
    }
  }

  @media (max-width: @screen-xs-max) {
    .project-tools {
      float: left;
      margin-left: initial;
    }
  }

  .projects-toolbar,
  .tag-item {
    display: flex;
    align-items: center;
  }

  .projects-toolbar {
    .dropdown,
    .dropdown-toggle {
      max-width: 100%;
    }

    .dropdown {
      min-width: 0;
    }

    .dropdown-toggle {
      display: inline-flex;
      align-items: baseline;
    }
  }

  .projects-sort-dropdown {
    flex-shrink: 0;
    margin-left: auto;
  }

  #projects-types-dropdown {
    font-family: @font-family-serif;

    & + .projects-dropdown-menu {
      min-width: 226px;
      max-width: 92vw;
    }
  }

  #projects-sort-dropdown {
    & + .projects-dropdown-menu {
      min-width: 156px;
    }
  }

  .projects-dropdown-menu {
    &.dropdown-menu {
      // Avoid line breaks for labels in menu items.
      // There is enough space for these on mobile devices (checked DE and EN translations).
      white-space: nowrap;
    }
  }

  .projects-types-menu-item {
    .menu-item-button-icon {
      left: 10px;
    }

    &.projects-types-menu-tag-item {
      display: flex;

      .edit-btn {
        padding: 12px 14px;
      }
    }
  }

  .projects-sort-menu-item {
    .menu-item-button-icon {
      left: 14px;
    }
  }

  .projects-action-menu-item {
    .menu-item-button-icon {
      left: 11px;
    }
  }
}

.current-plan {
  vertical-align: middle;
  line-height: @line-height-base;

  a.current-plan-label {
    text-decoration: none;
    color: @text-color;
  }
}

.project-list-upload-project-modal-uppy-dashboard .uppy-Root {
  .uppy-Dashboard-AddFiles-title {
    display: flex;
    flex-direction: column;
    color: @ol-blue-gray-3;
    white-space: pre-line;

    button.uppy-Dashboard-browse {
      background-color: @ol-green;
      color: @white;
      margin-bottom: @margin-md;
      padding: 4px 16px 5px;
      height: 46px;
      border-radius: 23px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: @font-size-large;
      font-family: @font-family-sans-serif;
    }
  }
}

.btn-transparent {
  box-shadow: none !important;
  background: none !important;
  border-radius: 0 !important;
  color: inherit !important;
  font-weight: 400;

  &:hover {
    box-shadow: none !important;
    background: none !important;
    color: inherit !important;
  }
}

.menu-item-button,
#new-project-button-projects-table + .dropdown-menu [role='menuitem'] {
  padding: 12px 20px;
}

.menu-item-button {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: none;
  box-shadow: none;
  background: inherit;
  color: @ol-blue-gray-5;
  text-align: left;

  .menu-item-button-text {
    padding-left: 14px;
    overflow: hidden;

    .tag-name-and-size {
      overflow: hidden;
      display: flex;
      gap: 1ex;
    }

    .tag-name {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .menu-item-button-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.fa-spinner {
      top: 30%;
    }
  }
}

.project-list-load-more-button {
  margin-bottom: @margin-sm;
}

.tag-dropdown-button {
  display: block;
  width: 100%;
  font-weight: normal;
  font-size: @font-size-base;
  text-align: left;
  color: @gray-dark;
  background-color: transparent;
  border-radius: unset;
  border: none;
  border-bottom: solid 1px transparent;
  padding: 3px 20px;

  &:active,
  &:focus {
    color: @gray-dark;
    background-color: transparent;
    text-decoration: none;
    outline: none;
  }

  &:hover {
    color: @white;
    background-color: @ol-green;
  }

  .tag-checkbox {
    width: 16px;
  }

  .tag-dot {
    display: inline-block;
    position: relative;
    border: 1px solid #ffffff;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    top: 1px;
  }
}

.project-list-sidebar-survey-wrapper {
  position: sticky;
  bottom: 0;

  .alert-info-alt {
    font-size: @font-size-small;
    margin-bottom: 0;

    a {
      text-decoration: none;
    }
  }

  @media (max-width: @screen-xs-max) {
    position: static;
    margin-top: @margin-sm;

    .alert-info-alt {
      font-size: unset;

      &:before {
        display: none;
      }

      .project-list-sidebar-survey-link {
        display: block;
        align-items: center;
        min-width: @mobile-action-element-width;
        min-height: @mobile-action-element-height;
        padding-top: @padding-md;
      }
    }
  }
}

.color-picker-item {
  height: 28px;
  width: 28px;
  cursor: pointer;
  position: relative;
  outline: none;
  border-radius: 4px;
  margin: 0 14px 0 0;
  display: inline-block;
  vertical-align: middle;

  &:focus-visible {
    box-shadow:
      0 0 0 2px @white,
      0 0 0 3px @blue-50,
      0 0 0 5px @blue-30;
  }

  &.more-button {
    border: 1px solid @gray-dark;

    .color-picker-more {
      color: @gray-dark;
      margin: 3px;
      font-weight: bold;

      @media (max-width: @screen-xs-max) {
        margin: 5px;
      }
    }

    .color-picker-more-open {
      color: @gray-dark;
      margin: 3px;
      font-weight: bold;

      @media (max-width: @screen-xs-max) {
        margin: 5px;
      }
    }
  }

  .color-picker-item-icon {
    margin: 4px;
    color: @white;
    font-weight: bold;
  }

  @media (max-width: @screen-xs-max) {
    height: 32px;
    width: 32px;
    margin: 24px 24px;

    .color-picker-item-icon {
      margin: 6px;
      color: @white;
    }
  }
}

.color-picker-more-wrapper {
  position: relative;
  display: inline-block;

  .custom-picker {
    position: absolute;
    user-select: none;

    @media (max-width: @screen-xs-max) {
      top: 56px;
      left: 24px;
    }
  }

  .popover-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.clone-project-tag {
  display: flex;

  &:hover .label.tag-label-name {
    background-color: @tag-bg-color;
  }
}
