.translations-message {
    .system-message;
	text-align:center;
    img {
    	vertical-align: text-bottom;
        margin-bottom: -1px;
    }
}

.translations-message when (@is-overleaf = true) {
	.close {
		color: #FFF;
		opacity: 1;
		text-shadow: none;
	}
	a {
		color: #FFF;
		&:hover,
		&:focus {
			color: #FFF;
		}
	}
}
