script(type='text/template')#userNotLinkedToDropboxTemplate
	.alert.alert-warning.userDropboxStatus
		span Your account is not linked to dropbox
		| &nbsp; &nbsp;
		a(href='/user/settings#dropboxSettings').btn.btn-warning Update Dropbox Settings

script(type='text/template')#userLinkedToDropboxTemplate
	row
		div
			strong {{minsTillNextPoll}} minutes  
			| until dropbox is next checked for changes
		div &nbsp;
		.progress.progress-striped.active
			.bar(style='width: {{percentageLeftTillNextPoll}}%;')

