[Unit]
Description=ShareLatex clsi service
After=syslog.target network.target auditd.service redis.service

[Service]
User=sharelatex
Group=sharelatex
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sharelatex-clsi
SyslogFacility=daemon
EnvironmentFile=/etc/sharelatex/sharelatex
ExecStart=/usr/bin/node /var/www/sharelatex/clsi/app.js

[Install]
WantedBy=multi-user.target
