include header

mixin quote(quote, author)
	blockquote
		p #{quote}
		small #{author}

extends ../layout

block content
	.container.box
			.page-header
				h2 What a few of the thousands of people using sharelatex are saying 
			.row
				.span4
					<blockquote class="twitter-tweet w-align-left"><p>Yes, finally! @<a href="https://twitter.com/sharelatex">sharelatex</a> <a href="https://t.co/5qcwmrdW" title="https://www.sharelatex.com/">sharelatex.com</a> via @<a href="https://twitter.com/henryoswald">henryoswald</a></p>&mdash; Nav (@keyboardkitteh) <a href="https://twitter.com/keyboardkitteh/status/165623092637474816" data-datetime="2012-02-04T02:29:57+00:00">February 4, 2012</a></blockquote>
				.span4
					<blockquote class="twitter-tweet w-align-left"><p>Finally someone programmed it: The Real Time LaTeX Collaborative Editor in Your Browser <a href="https://t.co/Ke32JVdG" title="https://www.sharelatex.com">sharelatex.com</a></p>&mdash; Bar Fooz (@barfooz) <a href="https://twitter.com/barfooz/status/165889791538376705" data-datetime="2012-02-04T20:09:43+00:00">February 4, 2012</a></blockquote>
				.span4
					<blockquote class="twitter-tweet"><p>Wow, really awesome real time LaTeX editor <a href="https://t.co/VgXQezzr" title="https://www.sharelatex.com/">sharelatex.com</a> /via @<a href="https://twitter.com/cybunk">cybunk</a></p>&mdash; Nicolas (@philogb) <a href="https://twitter.com/philogb/status/168030573229649921" data-datetime="2012-02-10T17:56:25+00:00">February 10, 2012</a></blockquote>
			.row
				.span4
					<blockquote class="twitter-tweet"><p>Its <a href="https://twitter.com/search/%2523GoogleDocs">#GoogleDocs</a> but with added <a href="https://twitter.com/search/%2523LaTeX">#LaTeX</a>, <a href="https://t.co/ZkMh44V2" title="https://www.sharelatex.com/">sharelatex.com</a>. For physicists and astronomers, collaborative editing just became possible.</p>&mdash; Alasdair Allan (@aallan) <a href="https://twitter.com/aallan/status/166472955314966528" data-datetime="2012-02-06T10:47:00+00:00">February 6, 2012</a></blockquote>
				.span4
					<blockquote class="twitter-tweet"><p>ShareLaTeX, a real time LaTeX collaborative editor. I *have* to try this. <a href="https://t.co/UVi5f3XY" title="https://www.sharelatex.com/">sharelatex.com</a> HT: @<a href="https://twitter.com/yokofakun">yokofakun</a></p>&mdash; Luis Apiolaza (@zentree) <a href="https://twitter.com/zentree/status/169896014604546048" data-datetime="2012-02-15T21:29:01+00:00">February 15, 2012</a></blockquote>
				.span4
					<blockquote class="twitter-tweet"><p>Finally! <a href="https://twitter.com/search/%2523ShareLaTeX">#ShareLaTeX</a> - Real Time LaTeX Collaborative Editor <a href="http://t.co/DYEaIOLi" title="http://ShareLaTeX.com">ShareLaTeX.com</a> (via @<a href="https://twitter.com/infoveille">infoveille</a> @<a href="https://twitter.com/gallypette">gallypette</a> @<a href="https://twitter.com/UrfistNice">UrfistNice</a>) @<a href="https://twitter.com/AdrienSaladin">AdrienSaladin</a></p>&mdash; Pierre Poulain (@pierrepo) <a href="https://twitter.com/pierrepo/status/167642895946498048" data-datetime="2012-02-09T16:15:55+00:00">February 9, 2012</a></blockquote>
			.row
				.span4
					<blockquote class="twitter-tweet"><p>LaTeX geeks, here's a collaborative online LaTeX editor <a href="https://t.co/5xjcRbSy" title="https://www.sharelatex.com/">sharelatex.com</a></p>&mdash; Stephen Kinsella (@stephenkinsella) <a href="https://twitter.com/stephenkinsella/status/166838934968598529" data-datetime="2012-02-07T11:01:16+00:00">February 7, 2012</a></blockquote>
				.span4
					<blockquote class="twitter-tweet"><p><a href="https://t.co/uRiailxg" title="https://www.sharelatex.com/">sharelatex.com</a>amazing!</p>&mdash; Guillermo Rauch (@rauchg) <a href="https://twitter.com/rauchg/status/168031797047865344" data-datetime="2012-02-10T18:01:16+00:00">February 10, 2012</a></blockquote>
				.span4
					<blockquote class="twitter-tweet"><p>ShareLatex <a href="https://t.co/70tEkjEb" title="https://www.sharelatex.com/">sharelatex.com</a> FInally, the real time collaboration in browser! <a href="https://twitter.com/search/%2523latex">#latex</a></p>&mdash; Ivana Kojovic (@muvica1987) <a href="https://twitter.com/muvica1987/status/166200765638119424" data-datetime="2012-02-05T16:45:25+00:00">February 5, 2012</a></blockquote>
			.row
				.span4
					<blockquote class="twitter-tweet"><p>I just fell in love on my first run with @<a href="https://twitter.com/sharelatex">sharelatex</a> <a href="https://t.co/fygg14Nj" title="https://www.sharelatex.com/">sharelatex.com</a> via @<a href="https://twitter.com/henryoswald">henryoswald</a> . CC @<a href="https://twitter.com/timcameronryan">timcameronryan</a></p>&mdash; Cory Dolphin (@wcdolphin) <a href="https://twitter.com/wcdolphin/status/200411830370312192" data-datetime="2012-05-10T02:27:58+00:00">May 10, 2012</a></blockquote>
				.span4
					<blockquote class="twitter-tweet"><p>Tired of sending TeX files back and forth with your coauthors?Try sharelatex to collaborate on tex files in real time <a href="http://t.co/PjoOAayE" title="http://bit.ly/xcksY7">bit.ly/xcksY7</a></p>&mdash; Max Lin (@m4xl1n) <a href="https://twitter.com/m4xl1n/status/171596254864871424" data-datetime="2012-02-20T14:05:09+00:00">February 20, 2012</a></blockquote>
				.span4
					<blockquote class="twitter-tweet"><p><a href="https://twitter.com/search/%2523edtech">#edtech</a> <a href="https://twitter.com/search/%2523mathchat">#mathchat</a> Collaborative LaTeX document editing (like Google docs, but for LaTeX!) <a href="https://t.co/XXwnl7SA" title="https://www.sharelatex.com/">sharelatex.com</a></p>&mdash; Joe DiNoto (@mathteacher1729) <a href="https://twitter.com/mathteacher1729/status/185889900615303168" data-datetime="2012-03-31T00:43:00+00:00">March 31, 2012</a></blockquote>

	<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		
	- locals.supressDefaultJs = true
	script(data-main=jsPath+'main.js', src='js/libs/require.js', baseurl=jsPath)
