.container
	#logoArea
		.span8
			h1.logo.large
				a(href='/').plain ShareLaTeX
				span.sub.logo Online LaTeX Editor
		.span3#homePagePills
			ul.nav.nav-pills
					li
						a(href='/') Home
					li
						a(href='/blog') Blog
					li
						a(href='/comments') Comments

