extends ../layout-marketing

block entrypointVar
	- entrypoint = 'pages/user/membership/groups'

block append meta
	meta(name="ol-users", data-type="json", content=users)
	meta(name="ol-paths", data-type="json", content=paths)
	meta(name="ol-groupSize", data-type="json", content=groupSize)

block content
	main.content.content-alt#subscription-manage-groups-root
