extends ../layout-marketing

block entrypointVar
	- entrypoint = 'pages/user/subscription/group-management/institution-managers'

block vars
	- bootstrap5PageStatus = 'enabled' // One of 'disabled', 'enabled', and 'queryStringOnly'
	- bootstrap5PageSplitTest = 'bootstrap-5-groups'

block append meta
	meta(name="ol-users", data-type="json", content=users)
	meta(name="ol-groupId", data-type="string", content=groupId)
	meta(name="ol-groupName", data-type="string", content=name)

block content
	main.content.content-alt#subscription-manage-group-root
