extends ../layout-react

block entrypointVar
	- entrypoint = 'pages/user/subscription/group-management/publisher-managers'

block append meta
	meta(name='ol-user' data-type='json' content=user)
	meta(name='ol-users' data-type='json' content=users)
	meta(name='ol-groupId' data-type='string' content=groupId)
	meta(name='ol-groupName' data-type='string' content=name)
	meta(name='ol-hasWriteAccess' data-type='boolean' content)

block content
	main#subscription-manage-group-root.content.content-alt
