div.fb-like(data-href='https://www.sharelatex.com', ref='#{getReferalId()}', data-send='false', data-layout='box_count', data-width='450', data-show-faces='true', data-font='lucida grande')
script(type='text/javascript')
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = '//connect.facebook.net/en_GB/all.js#xfbml=1';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));