a(href='https://twitter.com/share', counturl='https://www.sharelatex.com', data-text="is trying out online latex editor ShareLaTeX #{buildReferalUrl()}", data-count='vertical').twitter-share-button Tweet
script(type='text/javascript', src='//platform.twitter.com/widgets.js')
