a(href='https://twitter.com/share', counturl='https://www.sharelatex.com', data-text="is trying out online latex editor ShareLaTeX #{buildReferalUrl()}", data-count='none').twitter Tweet about us
script(type='text/javascript', src='//platform.twitter.com/widgets.js')
