@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 200 700;
  font-stretch: 62.5% 100%;
  src: url('NotoSerif[wght].woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 200 700;
  font-stretch: 62.5% 100%;
  src: url('NotoSerif-Italic[wght].woff2') format('woff2');
}
