extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2
					.card.project-invite-invalid
						.page-header.text-centered
							h1 Cannot Access Overleaf v1 Project
						.row.text-center
							.col-md-12
								p
									| The project you are attempting to access must be imported to Overleaf v2 before it can be accessed. Please contact the project owner or
									|
									a(href="/contact") contact support
									|
									| for assistance.
