extends ../layout-react

block entrypointVar
	- entrypoint = 'ide-detached'

block vars
	- var suppressNavbar = true
	- var suppressFooter = true
	- var suppressSkipToContent = true
	- var suppressPugCookieBanner = true
	- metadata.robotsNoindexNofollow = true

block content
	#pdf-preview-detached-root

block append meta
	include editor/_meta
