extends ../layout-react

block entrypointVar
	- entrypoint = 'ide-detached'

block vars
	- var suppressNavbar = true
	- var suppressFooter = true
	- var suppressSkipToContent = true
	- var suppressCookieBanner = true
	- bootstrap5PageStatus = 'enabled' // One of 'disabled', 'enabled', and 'queryStringOnly'
	- bootstrap5PageSplitTest = 'bootstrap-5-ide'
	- metadata.robotsNoindexNofollow = true

block content
	#pdf-preview-detached-root()

block append meta
	include editor/_meta
