extends ../layout

block vars
	- var suppressNavbar = true
	- var suppressFooter = true
	- var suppressSystemMessages = true
	- metadata.robotsNoindexNofollow = true

block content
	.editor(ng-controller="ImportingController").full-size
		.loading-screen
			.loading-screen-brand-container
				.loading-screen-brand(
					style="height: 20%;"
					ng-style="{ 'height': state.load_progress + '%' }"
				)
			h3.loading-screen-label #{translate("importing")}
				span.loading-screen-ellip .
				span.loading-screen-ellip .
				span.loading-screen-ellip .
