extends ../layout

block content
	//- We need to do .replace(/\//g, '\\/') do that '</script>' -> '<\/script>'
	//- and doesn't prematurely end the script tag.



	script(type="text/javascript").
		window.data = {
			projects: !{JSON.stringify(projects).replace(/\//g, '\\/')},
			tags: !{JSON.stringify(tags).replace(/\//g, '\\/')}
		};
		window.algolia = {
			institutions: {
				app_id:  '#{algolia_app_id}',
				api_key: '#{algolia_api_key}'
			}
		};

	.content.content-alt(ng-controller="ProjectPageController")
		.container
			.row(ng-cloak)
				span(ng-if="first_sign_up == 'default' || projects.length > 0")
					aside.col-md-2.col-xs-3
						include ./list/side-bar

					.col-md-10.col-xs-9
						include ./list/project-list
				
				span(ng-if="first_sign_up == 'minimial' && projects.length == 0")
					.col-md-offset-2.col-md-8.col-md-offset-2.col-xs-8
						include ./list/project-list-minimal

		include ./list/modals