.container
	.page-header
		h1 New File
	.row
		.span12.columns
			form#newFile(enctype='multipart/form-data', method='post')
				fieldset
					.clearfix
						label(for='xlInput') Name 
						.input
							input.xlarge(type='text', name='name')
					.clearfix
						label(for='xlInput') Upload File 
						.input
							input#file_upload.input-file(type='file', name='image')
	
					.actions
						Button.primary.btn(type='submit') Save

