@ol-green:      #4A9F48;
@ol-dark-green: #1C5B26;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.


@gray-darker:           #252525;
@gray-dark:             #505050;
@gray:                  #7a7a7a;
@gray-light:            #a4a4a4;
@gray-lighter:          #cfcfcf;
@gray-lightest:         #f0f0f0;

@blue:                  #405ebf;
@blueDark:              #040D2D;
@green:                 #46a546;
@red:                   #a93529;
@yellow:                #A1A729;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

@brand-primary:         @ol-green;
@brand-success:         @green;
@brand-info:            @ol-dark-green;
@brand-warning:         @orange;
@brand-danger:          #E03A06;

@navbar-brand-image-url: url(/img/ol-brand/logo-horizontal.png);

@editor-loading-logo-padding-top: 115.44%;
@editor-loading-logo-background-url: url(/img/ol-brand/overleaf-o-grey.svg);
@editor-loading-logo-foreground-url: url(/img/ol-brand/overleaf-o.svg);

@import "./_common-variables.less";
