@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('DMMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url('DMMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url('DMMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 500;
  font-display: fallback;
  src: url('DMMono-MediumItalic.woff2') format('woff2');
}
