{
  "presets": [
    "@babel/react",
    ["@babel/env", {
      "useBuiltIns": "usage",
      "corejs": { "version": 3 }
    }]
  ],
  "plugins": ["angularjs-annotate"],
  // Disable core-js polyfilling in test environment, to prevent interference
  // with mocking
  "env": {
    "test": {
      "presets": [
        "@babel/react",
        "@babel/env"
      ]
    }
  }
}