# NOTE: changing paths may require updating them in the Makefile too.
node_modules
modules/**/scripts
frontend/js/vendor
modules/**/frontend/js/vendor
public/js
public/minjs
frontend/stylesheets/components/nvd3.less
modules/source-editor/frontend/js/lezer-latex/latex.mjs
modules/source-editor/frontend/js/lezer-latex/latex.terms.mjs
