{
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "pugAttributeSeparator": "as-needed",
  "pugBracketSpacing": false,
  "pugClassNotation": "as-is",
  "pugIdNotation": "as-is",
  "pugSortAttributesBeginning": ["name", "data-type"],
  "plugins": ["@prettier/plugin-pug", "prettier-plugin-groovy"],
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.pug",
      "options": {
        "useTabs": true
      }
    }
  ]
}
