services:
  cypress:
    image: cypress/included:13.3.3
    volumes:
      - ../../:/overleaf
      - /tmp/.X11-unix:/tmp/.X11-unix
    working_dir: /overleaf/services/web
    entrypoint: npm
    user: "${DOCKER_USER:-1000:1000}"
    environment:
      VERBOSE_LOGGING:
      DISPLAY: ${DISPLAY:-:0}
#      DEBUG: cypress.*
