.ciam-layout {
  --ciam-color-neutral-50: #fafafa;
  --ciam-color-neutral-100: #f2f2f2;
  --ciam-color-neutral-200: #e6e6e6;
  --ciam-color-neutral-300: #d6d6d6;
  --ciam-color-neutral-400: #c7c7c7;
  --ciam-color-neutral-500: #b5b5b5;
  --ciam-color-neutral-600: #a1a1a1;
  --ciam-color-neutral-700: #8a8a8a;
  --ciam-color-neutral-800: #6b6b6b;
  --ciam-color-neutral-900: #383838;
  --ciam-color-neutral-950: #262626;
  --ciam-color-green-50: #f2f8f5;
  --ciam-color-green-100: #e3f2eb;
  --ciam-color-green-200: #c0e7d6;
  --ciam-color-green-300: #8adbb7;
  --ciam-color-green-400: #38cc89;
  --ciam-color-green-500: #26b072;
  --ciam-color-green-600: #158954;
  --ciam-color-green-700: #19754c;
  --ciam-color-green-800: #196241;
  --ciam-color-green-900: #164630;
  --ciam-color-green-950: #112c20;
  --ciam-color-yellow-50: #fffaeb;
  --ciam-color-yellow-100: #fff7db;
  --ciam-color-yellow-200: #ffeeb8;
  --ciam-color-yellow-300: #ffe58f;
  --ciam-color-yellow-400: #ffda61;
  --ciam-color-yellow-500: #ffcc20;
  --ciam-color-yellow-600: #f0b800;
  --ciam-color-yellow-700: #d1a000;
  --ciam-color-yellow-800: #ad8500;
  --ciam-color-yellow-900: #806200;
  --ciam-color-yellow-950: #574200;
  --ciam-color-red-50: #fff5f7;
  --ciam-color-red-100: #fee7eb;
  --ciam-color-red-200: #fdc9d3;
  --ciam-color-red-300: #fba7b7;
  --ciam-color-red-400: #f97b92;
  --ciam-color-red-500: #f51d43;
  --ciam-color-red-600: #e60a32;
  --ciam-color-red-700: #c3092b;
  --ciam-color-red-800: #a10723;
  --ciam-color-red-900: #75051a;
  --ciam-color-red-950: #530412;
  --ciam-color-blue-50: #f7fafd;
  --ciam-color-blue-100: #ecf2f9;
  --ciam-color-blue-200: #d4e3f2;
  --ciam-color-blue-300: #bdd4ea;
  --ciam-color-blue-400: #a2c3e2;
  --ciam-color-blue-500: #7facd7;
  --ciam-color-blue-600: #5893cb;
  --ciam-color-blue-700: #3470a8;
  --ciam-color-blue-800: #2b5d8c;
  --ciam-color-blue-900: #1e4161;
  --ciam-color-blue-950: #17314a;
  --ciam-color-teal-50: #f1f8f8;
  --ciam-color-teal-100: #e3f2f1;
  --ciam-color-teal-200: #c1e2df;
  --ciam-color-teal-300: #9ed1cd;
  --ciam-color-teal-400: #6dbab4;
  --ciam-color-teal-500: #4a9d96;
  --ciam-color-teal-600: #438e88;
  --ciam-color-teal-700: #3b7d77;
  --ciam-color-teal-800: #2f6460;
  --ciam-color-teal-900: #244c49;
  --ciam-color-teal-950: #193432;
}
