.login-container {
  max-width: 320px;
  margin: 0 auto;
  padding-top: var(--spacing-11);
  text-align: center;
  padding-bottom: 125px; // to prevent cookie banner from covering the bottom text of the page on mobile

  h1 {
    margin-bottom: 0;

    @include heading-sm;
  }

  form {
    padding-top: var(--spacing-08);

    input {
      height: 35px;
    }
  }

  .login-other-link {
    padding: var(--spacing-08) 0;

    p {
      margin-bottom: 0;
    }

    .login-text {
      padding-bottom: 0;
    }
  }

  .login-text {
    padding-bottom: var(--spacing-08);
    margin-bottom: 0;

    @include body-sm;
  }

  .recaptcha-branding {
    @include body-xs;
  }
}
