#onboarding-confirm-email .ciam-enabled {
  .animated-tick {
    height: var(--ds-spacing-1200);
    width: var(--ds-spacing-1200);
  }

  .ciam-email-confirmed-title {
    margin-top: var(--ds-spacing-800);
    margin-bottom: var(--ds-spacing-600);
  }

  .confirm-email-success-form {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 400px;

    p {
      margin: 0;
    }

    .form-actions {
      margin-top: var(--ds-spacing-600);
      margin-bottom: var(--ds-spacing-400);
    }
  }

  .confirm-email-form .confirm-email-form-inner {
    margin: auto;
    max-width: 480px;

    h1 {
      margin-bottom: var(--ds-spacing-400);
    }

    .notification {
      margin-bottom: var(--spacing-05);
    }

    .text-danger {
      display: flex;
      gap: var(--spacing-03);
      padding: var(--spacing-02);
    }

    .form-label {
      font-weight: bold;
    }

    .form-actions {
      margin-top: var(--ds-spacing-800);
      display: flex;
      flex-direction: column;
      gap: var(--ds-spacing-400);
    }
  }
}
