#confirm-secondary-email {
  .confirm-email-form .confirm-email-form-inner {
    margin: auto;
    max-width: 480px;

    .notification {
      margin-bottom: var(--spacing-05);
    }

    .text-danger {
      display: flex;
      gap: var(--spacing-03);
      padding: var(--spacing-02);
    }

    .form-label {
      font-weight: normal;
    }

    .form-actions {
      margin-top: var(--spacing-07);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-05);
    }
  }
}
