.project-list-sidebar-survey-link {
  @extend .text-white;

  font-weight: bold;
}

.notification-close-button-style button {
  &:hover {
    background-color: transparent !important;
  }

  &:focus {
    background-color: transparent !important;
  }
}
