.box
	.page-header      
		h2 Project Settings
	.tabbable
		ul.nav.nav-tabs
			li.active
				a(href='#generalProjectSettings', data-toggle="tab") General
			li
				a(href='#exportSettings', data-toggle="tab") Export & Copy
			li
				a(href='#deleteProjectTab', data-toggle="tab") Delete Project
			- if(userCanSeeDropbox)
				li#manageDropboxSettiingsTabLink
					a(href='#dropboxProjectSettings', data-toggle='tab') Dropbox 
						span.label.label-warning beta

		.tab-content.form-horizontal
			.tab-pane#generalProjectSettings.form.form-horizontal.active
				if privlageLevel == 'owner' || privlageLevel == 'readAndWrite'
					.control-group
						label(for='xlInput').control-label Project Name 
						.controls
							.input
								input.projectName(type='text', value=project.name)

					.control-group
						label(for='input').control-label Root Document
						.controls
							.input
								select#rootDocList

					.control-group
						label(for='spellCheck').control-label
							| Spell check
						.controls
							select(name="spellCheckLanguage")#spellCheckLanguageSelection
								option(value="",selected=(project.spellCheckLanguage == "")) Off
								optgroup(label="Language")
									for language in languages
										option(
											value=language.code,
											selected=(language.code == project.spellCheckLanguage)
										)= language.name

					.control-group#multipleCompilers
						label(for='input').control-label Compiler
						.controls
							.input
								select#compilers
									option(value='latex') LaTeX
									option(value='pdflatex') pdfLaTeX
									option(value='xelatex') XeLaTeX
									option(value='lualatex') LuaLaTeX
				else
					span You do not have permission to modify these settings.

				if privlageLevel == 'owner'
					.control-group
						label(for='select').control-label Public Access 
						.controls
							select#publicAccessLevel
								option(value='private') Private
								option(value='readOnly') Public - Read Only
								option(value='readAndWrite') Public - Read and Write

			.tab-pane#exportSettings
				a.btn#DownloadZip Download Project as Zip
				div &nbsp;
				a.btn(href='/project/'+project._id+'/clone').cloneProject Clone Project

			.tab-pane#deleteProjectTab
				if privlageLevel == 'owner'
					button#deleteProject.btn.btn-danger Delete Project
				else
					span You do not have permission to modify these settings.

			.tab-pane#dropboxProjectSettings
