#controls
	button#previous
		img(src='images/go-up.svg', align='top', height='32')
		| Previous
	button#next
		img(src='images/go-down.svg', align='top', height='32')
		| Next
	.separator
	input#pageNumber(type='number', value='1', size='4', min='1')
	span /
	span#numPages --
	.separator
	button#next(title='Zoom Out')
		img(src='images/zoom-out.svg', align='top', height='32')
	button#next(title='Zoom In')
		img(src='images/zoom-in.svg', align='top', height='32')
	.separator
	select#scaleSelect
		option#customScaleOption(value='custom')
		option(value='0.5') 50%
		option(value='0.75') 75%
		option(value='1') 100%
		option(value='1.25') 125%
		option(value='1.5', selected='selected') 150%
		option(value='2') 200%
		option#pageWidthOption(value='page-width') Page Width
		option#pageFitOption(value='page-fit') Page Fit
	.separator
	button#print
		img(src='images/document-print.svg', align='top', height='32')
		| Print
	.separator
	input#fileInput(type='file')
	.separator
	span#info --
#loading Loading... 0%
#viewer

