/* We're using the "ss05" (stylistic set 5) version of the DM Mono, on the font-feature-settings rule */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings */
/* We use the ss05 specifically to remove the "squiggle" below the f letter. */
/* You can try removing the `font-feature-settings` rule and check what happens to the letter "f", */
/* as it's quite hard to describe it with sentences alone */

@font-face {
  font-family: 'DM Mono';
  font-feature-settings: 'ss05';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('dm-mono/DMMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-feature-settings: 'ss05';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url('dm-mono/DMMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-feature-settings: 'ss05';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url('dm-mono/DMMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-feature-settings: 'ss05';
  font-style: italic;
  font-weight: 500;
  font-display: fallback;
  src: url('dm-mono/DMMono-MediumItalic.woff2') format('woff2');
}
