@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src:
    local('Source Code Pro Regular'),
    local('SourceCodePro-Regular'),
    url('source-code-pro-v13-latin-regular.woff2') format('woff2'),
    url('source-code-pro-v13-latin-regular.woff') format('woff');
}
