extends ../../layout-react

block entrypointVar
	- entrypoint = 'pages/token-access'

block vars
	- var suppressFooter = true
	- var suppressPugCookieBanner = true
	- var suppressSkipToContent = true

block append meta
	meta(name='ol-postUrl' data-type='string' content=postUrl)
	meta(name='ol-user' data-type='json' content=user)

block content
	#token-access-page
