extends ../../layout-marketing

block entrypointVar
	- entrypoint = 'pages/token-access'

block vars
	- var suppressFooter = true
	- var suppressCookieBanner = true
	- var suppressSkipToContent = true
	- bootstrap5PageStatus = 'enabled'
	- bootstrap5PageSplitTest = 'misc-b2c-pages-bs5'
		
block append meta
	meta(name="ol-postUrl" data-type="string" content=postUrl)
	meta(name="ol-user" data-type="json" content=user)

block content
	.content.content-alt#main-content
		div#token-access-page
