extends ../../layout-react

block entrypointVar
	- entrypoint = 'pages/sharing-updates'

block vars
	- var suppressFooter = true
	- var suppressPugCookieBanner = true
	- var suppressSkipToContent = true

block append meta
	meta(name='ol-user' data-type='json' content=user)
	meta(name='ol-project_id' data-type='string' content=projectId)

block content
	#main-content.content.content-alt
		#sharing-updates-page
