extends ../../layout-marketing

block entrypointVar
	- entrypoint = 'pages/sharing-updates'

block vars
	- var suppressFooter = true
	- var suppressCookieBanner = true
	- var suppressSkipToContent = true
	- bootstrap5PageStatus = 'enabled'
	- bootstrap5PageSplitTest = 'bs5-misc-pages-core'

block append meta
	meta(name="ol-project_id" data-type="string" content=projectId)

block content
	.content.content-alt#main-content
		div#sharing-updates-page
