extends ../layout

block content
	.container
		.row
			.span6.offset3.span-box
				.page-header
					h1 Attribution
				p 
					| We've only been able to create ShareLaTeX thanks to the many amazing free and
					| open source technologies that exist. Here are some that we have been using and would
					| like to say thank you to:
				ul
					li
						a(href="http://nodejs.org/") Node.js 
						| and the massive set of modules that are available.
					li
						a(href="https://github.com/jviereck/pdfListView") pdfListView. 
						| A wrapper for PDF.js that powers our built in PDF viewer.
					li
						a(href="http://www.iconshock.com/") Icons from Iconshock.
					li
						a(href="http://twitter.github.com/bootstrap/") Bootstrap 
						| for letting us survive without being designers.

	include ../general/small-footer





