extends ../layout

block content
	.container
		.row
			.span6.offset3.span-box
				.page-header
					h1 Planned Maintenance
				p There is currently no planned maintenance

	include ../general/small-footer





