extends ../layout

block content
	.container
		.row
			.span8.offset2.span-box
				.page-header
					h1 Privacy Policy
				h3 Information gathering
				p When you register for ShareLaTeX we collect information such as your name and email address. ShareLaTeX uses this information to be able to provide our service, for identification and authorization of users, and to be able to contact you.
				p The information we collect is not shared with other organisations except as detailed below for the provisioning and improvement of our service. The data we collect will never be sold to third parties for commercial purposes.

				h3 Cookies
				p ShareLaTeX uses a cookie, which is a small amount of data stored by your web browser on your computer. The cookie stores your current session and allows you to stay logged in. Cookies are required to use the ShareLaTeX service.

				h3 Data storage
				p ShareLaTeX uses third parties to host our services and store your data. You retain all rights to the data you upload to ShareLaTeX.

				h3 Credit cards and billing details
				p We use a third party vendor, 
					a(href="recurly.com") Recurly
					| , to store and process credit card transactions. Your email address, credit card details and billing address are passed on to Recurly and are not stored with ShareLaTeX.

				h3 Third party tracking
				p We use Google Analytics, Mixpanel and HeapAnalytics to track users' interactions with ShareLaTeX. This data is used for the improvement of our service. 
	include ../general/small-footer
