script(type="text/ng-template", id="dropboxModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 Dropbox Sync
	.modal-body.modal-body-share

		div(ng-show="dbState.gotLinkStatus")
			div(ng-hide="dbState.userIsLinkedToDropbox || !dbState.hasDropboxFeature")

				span(ng-hide="dbState.startedLinkProcess") Your account is not linked to dropbox
					| &nbsp; &nbsp;
					a(ng-click="linkToDropbox()").btn.btn-info Update Dropbox Settings

				p.small.text-center(ng-show="dbState.startedLinkProcess")
					| Please refresh this page after starting your free trial.


			div(ng-show="dbState.hasDropboxFeature && dbState.userIsLinkedToDropbox")
				progressbar.progress-striped.active(value='dbState.percentageLeftTillNextPoll', type="info")
				p
					strong {{dbState.minsTillNextPoll}} minutes 
					span until Dropbox is next checked for changes.
				p.small
					| This project will appear in your Dropbox folder at 
					strong Dropbox/sharelatex/{{ project.name }}

			div.text-center(ng-hide="dbState.hasDropboxFeature")
				p You need to upgrade your account to link to dropbox.
				p
					a.btn.btn-info(ng-click="startFreeTrial('dropbox')") Start Free Trial
				p.small(ng-show="startedFreeTrial")
					| Please refresh this page after starting your free trial.

		div(ng-hide="dbState.gotLinkStatus")
			i.fa.fa-refresh.fa-spin 
			span.small &nbsp; Checking dropbox status



	.modal-footer()
		button.btn.btn-default(
			ng-click="cancel()",
		)
			span Dismiss
