.feat-onboard
	.feat-onboard-wrapper
		h1.feat-onboard-title
			| Introducing
			span.feat-onboard-title-name Code check
		p.feat-onboard-description
			span.feat-onboard-description-name Code check
			| will highlight potential problems in your LaTeX code, allowing you to handle errors earlier and become more productive.
