.feat-onboard(
	ng-controller="FeatureOnboardingController"
	ng-class="('feat-onboard-step' + innerStep)"
	//- TODO Toggle logic.
	ng-if="!state.loading && !isFeatureSettingDefined"
	ng-cloak
)
	.feat-onboard-wrapper
		h1.feat-onboard-title
			| Introducing&nbsp;
			span.feat-onboard-title-name Code check
		div(ng-if="innerStep === 1;")
			p.feat-onboard-description
				span.feat-onboard-description-name Code check&nbsp;
				| will highlight potential problems in your LaTeX code, allowing you to handle errors earlier and become more productive.
			.row.feat-onboard-adv-wrapper
				.col-xs-4
					h2.feat-onboard-adv-title 
						| Missing&nbsp;
						span.feat-onboard-adv-title-highlight brackets
					p Lorem ipsum feature description stuff.
				.col-xs-4
					h2.feat-onboard-adv-title 
						| Missing&nbsp;
						span.feat-onboard-adv-title-highlight brackets
					p Lorem ipsum feature description stuff.
				.col-xs-4
					h2.feat-onboard-adv-title 
						| Missing&nbsp;
						span.feat-onboard-adv-title-highlight brackets
					p Lorem ipsum feature description stuff.
			.feat-onboard-btn-wrapper
				.btn.btn-primary(ng-click="turnCodeCheckOn();") Yes, turn Code check on
			.feat-onboard-btn-wrapper
				.btn.btn-default(ng-click="turnCodeCheckOn();") No, disable it for now
		div(ng-if="innerStep === 2;")
			p 
				| Remember: you can always turn&nbsp;
				span.feat-onboard-description-name Code check&nbsp;
				em on&nbsp;
				| or&nbsp;
				em off&nbsp;
				|, in the settings menu.
			.feat-onboard-btn-wrapper
				.btn.btn-primary(ng-click="dismiss();") OK, got it