script(type='text/ng-template', id='publishProjectModalTemplate')
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 Publish
	.modal-body.modal-body-publish
