extends ../../layout-marketing

block vars
	- var suppressNavbar = true
	- var suppressFooter = true
	- var suppressGoogleAnalytics = true
	- bootstrap5PageStatus = 'enabled'
	- isWebsiteRedesign = 'true'
		
block entrypointVar
	- entrypoint = 'pages/socket-diagnostics'

block append meta

block content
	main.content.content-alt#main-content
		#socket-diagnostics

block prepend foot-scripts
	script(type="text/javascript", nonce=scriptNonce, src=(wsUrl || '/socket.io') + '/socket.io.js', defer=deferScripts)
