@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('LatoLatin-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('LatoLatin-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('LatoLatin-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('LatoLatin-BoldItalic.woff2') format('woff2');
}
