- if (settings.overleaf && settings.overleaf.front_chat_widget_room_id != null)
	script.
		window.FCSP = '#{settings.overleaf.front_chat_widget_room_id}';
	script(src="https://chat-assets.frontapp.com/v1/chat.bundle.js")