- if (settings.overleaf && settings.front && settings.front.chat_room_id != null)
	script.
		window.FCSP = '#{settings.front.chat_room_id}';
	script(src="https://chat-assets.frontapp.com/v1/chat.bundle.js")