if (frontChatWidgetRoomId)
	script(type="text/javascript", nonce=scriptNonce).
		window.FCSP = '#{frontChatWidgetRoomId}';
	script(type="text/javascript", nonce=scriptNonce, src="https://chat-assets.frontapp.com/v1/chat.bundle.js")
