span(ng-controller="NotificationsController").userNotifications
	ul.list-unstyled.notifications-list(
		ng-if="notifications.length > 0",
		ng-cloak
	)
		li.notification_entry(
			ng-repeat="unreadNotification in notifications",
		)
			.row(ng-hide="unreadNotification.hide")
				.col-xs-12
					.alert.alert-info
						.row
							.col-xs-11
								span(ng-bind-html="unreadNotification.html")
							.col-xs-1
								button(ng-click="dismiss(unreadNotification)").close.pull-right
									span(aria-hidden="true") &times;
									span.sr-only #{translate("close")}
