.col-xs-8
	span.label.label-default.ol-label OL
	span
		a.projectName(
			href="/project/{{project.id}}"
			stop-propagation="click"
		) {{project.name}}

.col-xs-4
	span.last-modified {{project.lastUpdated | formatDate}}