if isIE
	ul.list-unstyled
		li.notification-entry
			.alert.alert-info
				.notification-body
					p
						i.fa.fa-fw.fa-exclamation-triangle
						|
						| It looks like you're accessing Overleaf with Internet Explorer, which we'll stop supporting in April 2021. We recommend that you upgrade to a newer browser.
						|
						a(href="https://www.overleaf.com/learn/how-to/What_browsers_do_you_support" target="_blank" rel="noopener") Learn More
