td.project-list-table-name-cell(ng-if-start="project.isV1Project")
	.project-list-table-name-container
		span.project-list-table-v1-badge-container
			span.v1-badge(
				aria-label=translate("v1_badge")
				tooltip-template="'v1ProjectTooltipTemplate'"
				tooltip-append-to-body="true"
			)
		span.project-list-table-name
			a.projectName(href='/{{project.id}}') {{project.name}}

td.project-list-table-owner-cell
	span.owner {{ownerName(project)}}

td.project-list-table-lastupdated-cell(
	ng-if-end
	colspan="2"
)
	span.last-modified(tooltip="{{project.lastUpdated | formatDate}}") {{project.lastUpdated | fromNowDate}}