extends ../layout-react

block vars
	- var suppressNavbar = true
	- var suppressSkipToContent = true
	- bootstrap5PageStatus = 'enabled'
	- bootstrap5PageSplitTest = 'bs5-misc-pages-b2c'

block entrypointVar
	- entrypoint = 'pages/user/add-secondary-email'

block content
	main.content.content-alt
		#add-secondary-email
