extends ../layout-marketing

block vars
	- var suppressNavbar = true
	- var suppressSkipToContent = true
	- bootstrap5PageStatus = 'disabled'

block entrypointVar
	- entrypoint = 'pages/user/add-secondary-email'

block content
	main.content.content-alt
		#add-secondary-email
