extends ../layout-react

block vars
	- var suppressNavbar = true
	- var suppressSkipToContent = true

block entrypointVar
	- entrypoint = 'pages/user/add-secondary-email'

block content
	main.content.content-alt
		#add-secondary-email
