extends ../layout-react

block vars
	- var suppressNavbar = true
	- var suppressSkipToContent = true
	- isWebsiteRedesign = true

block entrypointVar
	- entrypoint = 'pages/user/add-secondary-email'

block content
	main.content
		#add-secondary-email
