extends ../layout-react

block vars
	- var suppressNavbar = true
	- var suppressFooter = true
	- var suppressAnalytics = true

block entrypointVar
	- entrypoint = 'pages/compromised-password'

block content
	main#main-content.content.content-alt
		#compromised-password
