extends ../layout-marketing

block vars
	- var suppressNavbar = true
	- var suppressFooter = true
	- var suppressGoogleAnalytics = true
	- bootstrap5PageStatus = 'enabled'
	- bootstrap5PageSplitTest = 'bs5-misc-pages-platform'

block entrypointVar
	- entrypoint = 'pages/compromised-password'

block content
	main.content.content-alt#main-content
		#compromised-password
