extends ../layout-marketing

block vars
	- var suppressNavbar = true
	- var suppressFooter = true
	- var suppressGoogleAnalytics = true

block entrypointVar
	- entrypoint = 'pages/compromised-password'

block append meta

block content
	main.content.content-alt#main-content
		#compromised-password
