extends ../layout-react

block vars
	- var suppressNavbar = true
	- var suppressFooter = true
	- var suppressAnalytics = true
	- isWebsiteRedesign = true

block entrypointVar
	- entrypoint = 'pages/compromised-password'

block content
	main#main-content.content
		#compromised-password
