extends ../layout-marketing

block vars
	- var suppressNavbar = true
	- var suppressSkipToContent = true
	- bootstrap5PageStatus = 'enabled'
	- bootstrap5PageSplitTest = 'misc-b2c-pages-bs5'

block entrypointVar
	- entrypoint = 'pages/user/confirm-secondary-email'

block append meta
	meta(name="ol-email" content=email)

block content
	main.content.content-alt
		#confirm-secondary-email
