extends ../layout-marketing

block content
	main#main-content.content.content-alt
		.container
			.row
				.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
					.card
						.card-body
							.page-header
								h1 We're back!
							p Overleaf is now running normally.
							p
								| Please
								|
								a(href='/login') log in
								|
								| to continue working on your projects.
