extends ../layout

block content
	.container
		.row
			.box.span4.offset4
				.page-header
					h1 Password Reset
				.messageArea
				form.validate#passwordReset(method='post')
					input(type="hidden", name="_csrf", value=csrfToken)
					.clearfix
						label(for='xlInput') Email 
						.input
							input.span4.email.required(type='email', name='email', placeholder='your@email.com')
					.actions
						button.btn.btn-primary.btn.btn-large(type='submit') Submit
