extends ../layout-marketing

block content
	main.content#main-content
		.container
			.row
				.col-md-8.offset-md-2.text-center
					.page-header
						h2 #{translate("restricted_no_permission")}
					p
						span.inline-material-symbols
							a(href="/").material-symbols(aria-hidden="true") arrow_left_alt
							a(href="/") #{translate("take_me_home")}
