extends ../layout-marketing
include ../_mixins/material_symbol

block content
	main.content#main-content
		.container
			.row
				.col-md-8.offset-md-2.text-center
					.page-header
						h1 #{translate("restricted_no_permission")}
					p
						a.inline-material-symbols(href="/")
							+material-symbol("arrow_left_alt")
							| #{translate("take_me_home")}
