extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 Reset your password
						.messageArea
						form.validate#setPasswordReset(method='post')
							input(type="hidden", name="_csrf", value=csrfToken)
							.form-group
								input.password.required.form-control(type='password', name='password', placeholder='new password')
								input(type="hidden", name="passwordResetToken", value=passwordResetToken)
							.actions
								button.btn.btn-primary.btn.btn-large(type='submit') Set new password