.account-settings {
	.alert {
		margin-bottom: 0;
	}
}

#delete-account-modal {
	.alert {
		margin-top: 25px;
		margin-bottom: 4px;
	}
}


.affiliations-row {
	display: flex;
	margin-left: -(@grid-gutter-width / 2);
	margin-right: -(@grid-gutter-width / 2);
	@media (min-width: @screen-sm-min) {
		align-items: flex-end;
	}
}
	.affiliation-col-4,
	.affiliation-col-8 {
		width: 100%;
		flex-grow: 0;
		flex-shrink: 0;
		padding-left: (@grid-gutter-width / 2);
		padding-right: (@grid-gutter-width / 2);
		margin-bottom: (@grid-gutter-width / 2);
	}

	.affiliation-col-4 {
		@media (min-width: @screen-sm-min) {
			width: (4 / 12) * 100%;
		}
	}
	
	.affiliation-col-8 {
		@media (min-width: @screen-sm-min) {
			width: (8 / 12) * 100%;
		}
	}

	.affiliation-col-align-right {
		@media (min-width: @screen-sm-min) {
			display: flex;
			justify-content: flex-end;
		}
	}

	.affiliation-input-feedback {
		height: @input-height-base;
		padding: @padding-base-vertical;
		margin: 0;
	}