.author_details {
	font-size: .8em;
	color: @gray;
}

.post {
	img {
		border-radius: 3px;
		-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
		box-shadow: 0 2px 4px rgba(0,0,0,0.1);
		max-width: 100%;    
		height: auto;
	}
}

.blog {
	> .page-header {
		h1 {
			margin: 0;
		}
		padding: 0;
		margin: 0;
		border: none;
	}
	
	.post {
		.page-header {
			h2 {
				margin-top: 0;
			}
		}
	}
	
	.page-header {
		h1 {
			a {
				color: @text-color;
			}
			.small {
				color: @gray-dark;
				font-size: 16px;
				display: inline-block;
				float: right;
				margin-top: 22px;
			}
		}
	}
	
	.blurb {
		ul {
			li {
				margin-bottom: @line-height-computed / 4;
			}
		}
	}
}
