/*
  v2
  CMS Generated Pages, 
  including About and Blog
*/
.cms-page {
  img {
    height: auto;
    max-width: 100%;
  }
  .btn-description {
    margin-right: @margin-sm;
  }

  .tab-content {
    float: left;
    width: 100%;
  }

  /*
    When on preview mode
  */
  .cms-preview {
    background-color: @blue;
    color: white;
    font-weight: bold;
    height: @navbar-padding-vertical;
    left: 0;
    line-height: @navbar-padding-vertical;
    opacity: 0.8;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
    &:after {
      content: 'Preview';
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  /*
    All content from CMS is in .row-spaced.
    Margin below is to fix extra whitespace for first rows
  */
  .container > .row:nth-child(2) {
    //- first child is page header, don't correct margin
    margin-top: 0;
  }
  .tab-pane {
    .row:first-child {
      margin-top: 0;
    }
  }

  /*
    quotes
  */
  blockquote {
    /*
      type.less sets <p> inline, so that quotation mark is inline
      but sometimes we have multiple <p>,
      so hide quotation mark from type.less and add one here
    */
    &:before {
      /* hide quotation from type.less */
      display: none;
    }
    p {
      display: block;
    }
    p:first-child {
      /* below copied from type.less */
      &:before {
        content: open-quote;
        font-size: @blockquote-font-size * 3;
        color: @blockquote-border-color;
        margin-right: 0.25em;
        vertical-align: -0.4em;
        line-height: 0.1em;
      }
    }
  }
  .quote-full-width {
    img {
      margin-right: @margin-sm;
      margin-bottom: @margin-sm;
    }
  }
}