.long-form-features {
	h2 {
		margin-top: 0;
		margin-bottom: @line-height-computed;
	}
	img {
		border-radius: 3px;
		-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
		box-shadow: 0 2px 4px rgba(0,0,0,0.1);
		max-width: 100%;    
		height: auto;
	}
	h3 {
		margin: 0;
	}
	p {
		color: @gray
	}
	i {
		color: lighten(@blue, 15%);
	}
}