.masthead {
	background-color: rgba(0,0,0,0.85);
	background-image: -webkit-linear-gradient(left,rgba(153,93,179,0.6),rgba(44,155,219,0.6));
	background-image: linear-gradient(to right,rgba(153,93,179,0.6),rgba(44,155,219,0.6));
	position: relative;
	text-align: center;
	overflow: hidden;
	h1, p {
		color: white;
		text-align: center;
	}
	h1 {
		font-size: 4.75rem;
		line-height: 6.25rem;
		margin-bottom: 0;
		margin-top: @line-height-computed;
		text-shadow: 0 1px 3px rgba(0,0,0,0.42);
		span {
			font-family: @font-family-sans-serif;
			font-weight: 100;
			letter-spacing: 5px;
		}
	}
	p:first-of-type {
		font-size: @line-height-computed;
		font-weight: 200;
		margin-top: 0;
		text-rendering: auto;
		margin-bottom: @line-height-computed;
	}
	.register-banner {
		background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.7),rgba(0,0,0,0.9));
		background-image: linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.9));
		padding: @line-height-computed 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		h2 {
			color: white;
			margin-top: 0;
			font-family: @font-family-sans-serif;
			font-weight: 500;
			letter-spacing: 1px;
		}
		.form-group {
			margin-left: @line-height-computed / 2;
		}
	}
	.screenshot {
		height: 550px;
		// Make sure the 
		padding: 50px;
		margin: -50px;
		overflow-y: hidden;
		img {
			box-shadow: 0 0 50px rgba(0,0,0,.67);
			max-width: 100%;
		}
	}
	.btn-hero {
		background-color: transparent;
		border-color: white;
		border-width: 3px;
		color: white;
		margin-right: @line-height-computed / 2;
		&:hover {
			background-color: white;
			color: @gray-dark;
		}
		&.btn-primary {
			border-color: lighten(@link-color, 10%);
			color: lighten(@link-color, 10%);
			&:hover {
				background-color: lighten(@link-color, 10%);
				color: white;
			}
		}
	}
}

.universities {
	// overflow: hidden;
	// height: 160px;
	// border-left: none;
	// border-right: none;
	padding-bottom: @line-height-computed;
	text-align: center;
	margin: 0 auto;
	img {
		max-width: 100%;
		max-height: 60px;
	}
}

.pattern-container {
	background: url('/img/pattern-home.png') repeat #f1f1f1;
	border-top: 1px solid @gray-lightest;
}

.long-form-features {
	h2 {
		margin-top: 0;
		margin-bottom: @line-height-computed;
	}
	img {
		border-radius: 3px;
	  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	}
	h3 {
		margin: 0;
	}
	p {
		color: @gray
	}
	i {
		color: lighten(@blue, 15%);
	}
}