.project-header {
  .btn-group > .btn {
    padding-left: @line-height-base / 2;
    padding-right: @line-height-base / 2;
  }
}

.project-search {
  margin: @line-height-base 0;
}

.project-tools {
  display: inline;
}

.first-project {
	width: 127px;
	text-align: center;
}

.user-profile {
	.progress {
		height: @line-height-computed / 2;
		margin-bottom: @line-height-computed / 4;
	}
	p {
		margin-bottom: @line-height-computed / 4;
	}
}

ul.folders-menu {
	margin: 0;
	.subdued {
		color: @gray-light;
	}
	li {
		line-height: 1.8;
		a {
			font-size: 0.9rem;
			color: #333;
			padding: (@line-height-computed / 4);
		}
  	}
	li.active {
		//border-right: 4px solid @red;
		a {
			font-weight: 700;
			color: white;
			background-color: @link-color;
			border-radius: @border-radius-small;
			.subdued {
				color: white;
			}
		}
	}
	h2 {
		margin-top: @line-height-computed / 2;
		margin-bottom: @line-height-computed / 4;
		font-size: @font-size-base;
		font-weight: 500;
		font-family: @font-family-sans-serif;
	}
}

form.project-search {
	.form-group {
		margin-bottom: 0;
	}
}

ul.project-list {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	overflow-y: scroll;
	li {
		border-bottom: 1px solid @gray-lightest;
		padding: (@line-height-computed / 4) 0;
		&:first-child {
			.last-modified, .owner {
				font-size: 1rem;
			}
		}
		&:last-child {
			border-bottom: 0 none;
		}
		&:hover {
			background-color: @gray-lightest;
		}
		&:first-child:hover {
			background-color: white;
		}
		a {
			color: darken(@blue, 10%);
		}
		.select-item, .select-all, .title, .last-modified, .owner {
			display: inline-block;
			vertical-align: top;
			margin-right: @line-height-computed;
		}
		.select-item, .select-all {
			margin-left: @line-height-computed / 4;
		}
		.last-modified, .owner {
			font-size: .8rem;
		}
		.owner {
			margin-right: 0;
		}
		.projectName {
			margin-right: @line-height-computed;
		}
	}
	.project_entry {
		.tag-label {
			margin-right: 5px;
			font-size: 12px;
			cursor: arrow;
			i {
				margin-top: 1px;
				cursor: pointer;
			}
			margin-bottom: 5px;
		}
	}
}
