.project-header {
  .btn-group > .btn {
    padding-left: @line-height-base / 2;
    padding-right: @line-height-base / 2;
  }
}

.project-search {
  margin: @line-height-base 0;
}

.project-tools {
  display: inline;
}

#projectList {
	list-style-type: none;
	height: 420px;
	margin: 0;
	overflow: hidden;
	overflow-y: scroll;
	li {
		border-bottom: 1px solid @gray-lighter;
		padding: (@line-height-base / 4) 0;
		&:first-child {
			.last-modified, .owner {
				font-size: 1rem;
			}
		}
		&:last-child {
			border-bottom: 0 none;
		}
		&:hover {
			background-color: @gray-lighter;
		}
		&:first-child:hover {
			background-color: white;
		}
		a {
			color: lighten(@blue, 10%);
		}
		.select-item, .select-all, .title, .last-modified, .owner {
			display: inline-block;
			vertical-align: top;
			margin-right: @line-height-base;
		}
		.select-item, .select-all {
			margin-left: @line-height-base / 4;
		}
		.title {
			width: 50%;
		}
		.last-modified, .owner {
			font-size: .8rem;
			width: 15%;
		}
		.owner {
			margin-right: 0;
		}
		.projectName {
			margin-right: @line-height-base;
		}
	}
	.project_entry {
		.tag-label {
			margin-right: 5px;
			font-size: 12px;
			cursor: arrow;
			i {
				margin-top: 1px;
				cursor: pointer;
			}
			margin-bottom: 5px;
		}
	}
}
