
.icon {
  background-image: url('/img/sprite.png');
}

.icon-ko {
  background-position: -0px -0px;
  width: 34px;
  height: 34px;
}
.icon-cn {
  background-position: -0px -34px;
  width: 34px;
  height: 34px;
}
.icon-da {
  background-position: -0px -68px;
  width: 34px;
  height: 34px;
}
.icon-de {
  background-position: -0px -102px;
  width: 34px;
  height: 34px;
}
.icon-en {
  background-position: -0px -136px;
  width: 34px;
  height: 34px;
}
.icon-es {
  background-position: -0px -170px;
  width: 34px;
  height: 34px;
}
.icon-fi {
  background-position: -0px -204px;
  width: 34px;
  height: 34px;
}
.icon-fr {
  background-position: -0px -238px;
  width: 34px;
  height: 34px;
}
.icon-it {
  background-position: -0px -272px;
  width: 34px;
  height: 34px;
}
.icon-ja {
  background-position: -0px -306px;
  width: 34px;
  height: 34px;
}
.icon-cs {
  background-position: -0px -340px;
  width: 34px;
  height: 34px;
}
.icon-nl {
  background-position: -0px -374px;
  width: 34px;
  height: 34px;
}
.icon-no {
  background-position: -0px -408px;
  width: 34px;
  height: 34px;
}
.icon-pl {
  background-position: -0px -442px;
  width: 34px;
  height: 34px;
}
.icon-pt {
  background-position: -0px -476px;
  width: 34px;
  height: 34px;
}
.icon-ru {
  background-position: -0px -510px;
  width: 34px;
  height: 34px;
}
.icon-sv {
  background-position: -0px -544px;
  width: 34px;
  height: 34px;
}
.icon-tr {
  background-position: -0px -578px;
  width: 34px;
  height: 34px;
}
.icon-uk {
  background-position: -0px -612px;
  width: 34px;
  height: 34px;
}
.icon-zh-CN {
  background-position: -0px -646px;
  width: 34px;
  height: 34px;
}
