.template-page-header {
	padding-top: unit(@line-height-base,rem);
	h1, h2 {
		margin-top: 6px;
		margin-right: @line-height-base * 5;
		line-height: 1;
	}
}

.template-thumbnail {

	.thumbnail {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);	
	    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
	}

	a {
		padding:0px;
		h3 {
			color:@link-color;
			margin: 10px 0px 10px 20px;
		}
	}

	.caption {
		background: lighten(@gray-lightest, 3%);
		border-top: 1px solid #ddd;
	}

}

.template-section-header:extend(.page-header) {
	margin-top: 0px;
}

.social_buttons {
	padding-top: 20px;
}

.sample-template {
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.template-details-section {
	padding-bottom: 20px;
}

.searchResult {
	img {
		max-width: 100%;    
		height: auto;
	}
}