.template-page-header {
	background: @gray-lightest;
	border-top: 1px solid @gray-lightest;
	margin: 0;
	padding-top: unit(@line-height-base,rem);
	h1 {
		color: @gray-dark;
		margin-top: 0;
		margin-right: @line-height-base * 5;
		line-height: 1;
	}
}

.template-thumbnail {

	.thumbnail {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);	
	    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
	}

	a {
		padding:0px;
		h3 {
			color:@link-color;
		}
	}

	.caption {
		background: @gray-lightest;
		border-top: 1px solid #ddd;
	}

}

.social_buttons {
	padding-top: 20px;
}

.sample-template {
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}