
.translations-message {
    padding: (@line-height-computed / 4) (@line-height-computed / 2);
    background-color: @state-warning-bg;
    color: #333;
    border-bottom: 1px solid @toolbar-border-color;
	text-align:center;
    
    img {
    	vertical-align: text-bottom;
        margin-bottom: -1px;
    }

}