extends ../layout

block content
	.content
		.container
			.row
				.col-md-8.col-md-offset-2
					.page-header
						h1 Security
					p
						| Keeping your data safe is one of our top priorities.
						| We work hard to make sure that ShareLaTeX is as secure as we can make it,
						| and your input and feedback on our security is always appreciated.
					h3 Responsible disclosure
					p
						| Please send reports of any urgent or sensitive security issues to
						a(href="mailto:team@sharelatex.com")  team@sharelatex.com.
						|  Use our
						a(href="/sharelatex-security.pub")  public key
						|  to encrypt your message and please provide us with a secure way to
						| contact you.

					p
						| Note that the URLs at <strong>/learn</strong>, <strong>/help</strong>
						| and <strong>ctan.sharelatex.com</strong> are not under our direct control,
						| and vulnerabilities should be reported to either MediaWiki or TenderApp
						| respectively.

					p
						| We are very grateful for all the responsibly reported security vulnerabilities,
						| however listing on the hall of fame is reserved for people who report
						| vulnerabilities that were previously unknown and we regard as serious.

					h3 Acknowledgements
					p
						| We'd like to thank the following people who have responsibly disclosed
						| vulnerabilities to us and helped improved the security of ShareLaTeX:

					ul.unstyled
						li
							a(href="https://twitter.com/Abdulahhusam", rel="nofollow") Abdullah Hussam Gazi
						li
							a(href="http://adamziaja.com", rel="nofollow") Adam Ziaja
						li
							a(href="http://alihassanpenetrationtester.blogspot.com/", rel="nofollow") Ali Hasan Ghauri
						li
							a(href="https://twitter.com/EhArvindSingh") Arvind Singh Shekhawat
						li
							a(href="https://www.facebook.com/Dakshxss", rel="nofollow") Daksh Patel
						li
							a(href="https://twitter.com/dibsyhex", rel="nofollow") Dibyendu Sikdar
						li
							a(href="https://www.facebook.com/c.hari1997", rel="nofollow") Hari Krishnan
						li
							a(href="https://www.facebook.com/jaymark.pestano", rel="nofollow") Jaymark Pestaño
						li
							a(href="https://twitter.com/korapsyon", rel="nofollow") Jerold Camacho
						li
							a(href="https://twitter.com/kamilsevi", rel="nofollow") Kamil Sevi
						li
							a(href="https://twitter.com/kingkaustubhp", rel="nofollow") Kaustubh Padwad
						li 'KoF2002' &amp; 'Sr33h4r!(XSS no0B)'
						li
							a(href="http://twitter.com/umenmactech", rel="nofollow") Manish Bhattacharya
						li
							a(href="http://twitter.com/Manjesh24", rel="nofollow") Manjesh S
						li
							a(href="https://www.facebook.com/Shahmeer.1994", rel="nofollow") Muhammad Shahmeer
						li
							a(href="http://nbsriharsha.blogspot.in", rel="nofollow") N B Sri Harsha
						li
							a(href="http://www.linkedin.com/in/osandamalith", rel="nofollow") Osanda Malith Jayathissa
						li
							a(href="https://twitter.com/prasadk14", rel="nofollow") Prasad Kancharla
						li
							a(href="https://www.facebook.com/c0m4dr3404", rel="nofollow") Praveen Nair (Kerala Cyber Squad - India)
						li
							a(href="https://twitter.com/iAmPr3m", rel="nofollow") Prem Kumar
						li
							a(href="https://www.facebook.com/HardNocksHittnHard", rel="nofollow") Sherin Panikar (Kerala Cyber Squad - India)
						li
							a(href="https://twitter.com/Simon90_Italy", rel="nofollow") Simone Memoli
						li
							a(href="https://twitter.com/tareksiddiki", rel="nofollow") Tarek Siddiki
						li
							a(href="https://twitter.com/venugopalt", rel="nofollow") Venugopal Thotakura
						li
							a(href="http://softproweb.blogspot.com/", rel="nofollow") Waqeeh Ul Hasan
						li
							a(href="https://twitter.com/zerodayguys", rel="nofollow") Zeroday Guys (Rakesh Singh &amp; V.Harish Kumar)
						li
							a(href="https://twitter.com/_prashantnegi", rel="nofollow") Prashant Negi
							span  and
							a(href="https://twitter.com/AjaySinghNegi", rel="nofollow")  Singh Negi
						li
							a(href="https://twitter.com/mohitnitrr") Monendra Sahu
