mixin material-symbol(icon, extraClass = null)
	- extraClass = extraClass ? ' ' + extraClass : ''
	span(aria-hidden='true' translate='no' class='material-symbols' + extraClass)&attributes(attributes)
		| #{icon}

mixin material-symbol-unfilled(icon, extraClass = null)
	- extraClass = extraClass ? ' ' + extraClass : ''
	+material-symbol(icon, 'unfilled' + extraClass)&attributes(attributes)
