mixin termsOfServiceAgreementContent
	| !{translate("by_registering_you_agree_to_our_terms_of_service", {}, [{name: 'a', attrs: {href: '/legal#Terms', target: '_blank'}}, {name: 'a', attrs: {href: '/legal#Privacy', target: '_blank'}}])}

mixin termsOfServiceAgreement
	.tos-agreement-notice
		+termsOfServiceAgreementContent
