:root {
  --ds-border-width-25: 1px;
  --ds-border-width-50: 2px;

  // Border radius
  --ds-border-radius-full: 9999px;
  --ds-border-radius-50: 2px;
  --ds-border-radius-100: 4px;
  --ds-border-radius-200: 8px;
  --ds-border-radius-300: 12px;
  --ds-border-radius-400: 16px;
  --ds-border-radius-600: 24px;
}
