:root {
  --ds-base-unit: 4px;
  --ds-spacing-50: 2px;
  --ds-spacing-100: 4px;
  --ds-spacing-150: 6px;
  --ds-spacing-200: 8px;
  --ds-spacing-250: 10px;
  --ds-spacing-300: 12px;
  --ds-spacing-350: 14px;
  --ds-spacing-400: 16px;
  --ds-spacing-500: 20px;
  --ds-spacing-600: 24px;
  --ds-spacing-700: 28px;
  --ds-spacing-800: 32px;
  --ds-spacing-900: 36px;
  --ds-spacing-1000: 40px;
  --ds-spacing-1100: 44px;
  --ds-spacing-1200: 48px;
  --ds-spacing-1300: 52px;
  --ds-spacing-1400: 56px;
  --ds-spacing-1500: 60px;
  --ds-spacing-1600: 64px;
  --ds-spacing-1700: 68px;
  --ds-spacing-1800: 72px;
  --ds-spacing-1900: 76px;
  --ds-spacing-2000: 80px;
  --ds-spacing-2100: 84px;
  --ds-spacing-2200: 88px;
  --ds-spacing-2300: 92px;
  --ds-spacing-2400: 96px;
}
