.editor-context-menu {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  border-radius: var(--border-radius-base);
  padding: var(--spacing-02);
  gap: var(--spacing-01);
  box-shadow: 0 2px 4px 0 #1e253029;
  border: 1px solid var(--border-divider);
  background-color: var(--bg-light-primary);
}

.editor-context-menu-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-04);
  padding: var(--spacing-02) var(--spacing-04);
  border: none;
  border-radius: var(--border-radius-base);
  background-color: transparent;
  color: var(--content-primary);
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-02);
  line-height: var(--line-height-02);

  &:hover:not(:disabled) {
    background-color: var(--bg-light-secondary);
  }

  &:disabled {
    color: var(--content-disabled);
    cursor: not-allowed;
  }

  &-label {
    flex: 1;
  }

  &-shortcut {
    min-width: var(--spacing-10);
    text-align: right;
    color: var(--content-secondary);

    .editor-context-menu-item:disabled & {
      color: var(--content-disabled);
    }
  }
}

.editor-context-menu-separator {
  height: 1px;
  margin: var(--spacing-01) var(--spacing-04);
  background-color: var(--border-divider);
}
