.editor-tour-tooltip {
  --bs-popover-bg: var(--bg-light-primary);
  --bs-popover-header-bg: var(--bg-light-primary);
  --bs-popover-body-color: var(--content-primary);
  --bs-popover-header-color: var(--content-primary);
  --editor-tour-tooltip-link-color: var(--link-ui);
  --editor-tour-tooltip-link-hover-color: var(--link-ui-hover);
  --editor-tour-tooltip-link-visited-color: var(--link-ui-visited);

  .material-symbols {
    color: var(--bs-popover-header-color);
  }

  a {
    color: var(--editor-tour-tooltip-link-color);

    &:visited {
      color: var(--editor-tour-tooltip-link-hover-color);
    }

    &:hover {
      color: var(--editor-tour-tooltip-link-visited-color);
    }
  }
}

@include theme('light') {
  .editor-tour-tooltip {
    --bs-popover-bg: var(--bg-dark-primary);
    --bs-popover-header-bg: var(--bg-dark-primary);
    --bs-popover-body-color: var(--content-primary-dark);
    --bs-popover-header-color: var(--content-primary-dark);
    --editor-tour-tooltip-link-color: var(--link-ui-dark);
    --editor-tour-tooltip-link-hover-color: var(--link-ui-hover-dark);
    --editor-tour-tooltip-link-visited-color: var(--link-ui-visited-dark);
  }
}

.editor-tour-tooltip-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-link {
    color: var(--bs-popover-body-color);
  }
}
