.figure-modal-help-link,
.figure-modal-help-link:hover,
.figure-modal-help-link:focus,
.figure-modal-help-link:active {
  color: var(--neutral-90) !important;
  text-decoration: none;
}

.figure-modal-help-link {
  padding-left: 0;
}

.figure-modal-switcher-input {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-container {
  width: 100%;
  height: 120px;
  padding: var(--spacing-07) var(--spacing-08);
  border: 1px dashed #eaeaea;
  background-color: #fafafa;
  justify-content: space-between;
  border-radius: var(--border-radius-medium);
}

.file-container-file {
  display: flex;
  align-items: center;
  border: 1px solid var(--neutral-20);
  border-radius: var(--border-radius-medium);
  background-color: white;
  height: 100%;
  padding: var(--spacing-06) var(--spacing-07);
}

.file-info {
  margin-left: var(--spacing-07);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.file-name {
  font-weight: bold;
}

.figure-modal-source-button-grid {
  display: grid;
  justify-content: space-between;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;

  &:not(:first-of-type) {
    margin-top: 8px;
  }
}

.figure-modal-source-button {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  box-shadow: 0 2px 4px 0 #1e253029;
  line-height: 44px;
  background-color: var(--white);
  border-radius: var(--border-radius-base);
  border: none;
  padding: 0 var(--spacing-04);

  &-title {
    flex: 1 1 auto;
    text-align: left;
  }
}

.figure-modal-source-button-icon {
  margin-right: var(--spacing-03);
}

/* stylelint-disable selector-class-pattern */
.figure-modal-upload .uppy-Dashboard-AddFiles-list {
  display: none;
}
