:root {
  --left-menu-form-select-border: var(--border-primary);
}

@include theme('light') {
  --left-menu-form-select-border: var(--border-disabled);
}

.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-size-loading-spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reference-manager-search-group {
  width: '100%';
  border-radius: 0;
  text-align: left;

  .dropdown-menu {
    width: 100%;
  }
}
