@use 'sass:math';

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;

  .loading-screen-brand-container {
    min-width: 200px;
  }

  .loading-screen-brand {
    position: relative;
    padding-top: math.percentage(math.div(150, 130)); // dimensions of the SVG
    height: 0;
    background: url(../../../../public/img/ol-brand/overleaf-o-grey.svg)
      no-repeat bottom / 100%;

    &::after {
      content: '';
      position: absolute;
      height: inherit;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(../../../../public/img/ol-brand/overleaf-o.svg) no-repeat
        bottom / 100%;
      transition: height 0.5s;
    }
  }

  .loading-screen-label {
    margin: 0;
    padding-top: var(--spacing-09);
    font-family: $font-family-serif;
    font-size: var(--font-size-07);
    color: var(--content-secondary);
  }

  .loading-screen-ellip {
    animation: blink 1.4s both infinite;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }

  .loading-screen-error {
    margin: 0;
    padding-top: var(--spacing-06);
    color: var(--content-danger);
  }
}
