.pdf-error-state {
  overflow-y: auto;
  position: absolute;
  inset: var(--toolbar-small-height) 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: safe center;
  padding: var(--spacing-06);
  background-color: var(--pdf-bg);
}

.pdf-error-state-top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-06);
  padding: 0 var(--spacing-09) var(--spacing-09) var(--spacing-09);
}

.pdf-error-state-icon {
  color: var(--content-primary-themed);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  .material-symbols {
    font-size: 80px;
  }

  &.pdf-error-state-warning-icon {
    background-color: var(--bg-danger-03);
    color: var(--content-danger);

    .material-symbols {
      font-size: 32px;
    }
  }
}

.pdf-error-state-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-02);
}

.pdf-error-state-label {
  font-size: var(--font-size-02);
  color: var(--content-primary-themed);
  font-weight: 600;
  margin-bottom: 0;
}

.pdf-error-state-description {
  color: var(--content-secondary-themed);
  font-size: var(--font-size-02);
  margin-bottom: 0;
}

.pdf-error-state-info-box {
  background-color: var(--bg-primary-themed);
  color: var(--content-primary-themed);
  padding: var(--spacing-06);
  border: 1px solid var(--border-divider-themed);
  border-radius: var(--border-radius-base);
  font-size: var(--font-size-02);
  line-height: var(--line-height-02);

  @include themed-links;
}

.pdf-error-state-info-box-title {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: var(--spacing-02);
  margin-bottom: var(--spacing-04);
}

.pdf-error-state-info-box-list {
  margin-bottom: 0;

  li + li {
    margin-top: var(--spacing-02);
  }
}
