.DS_Store
.git/
services/git-bridge
server-ce/server-ce
server-ce/test

# omit scripts with extra dependencies
services/web/scripts/plan-prices
services/web/scripts/translations
services/web/scripts/ukamf
