{
  "extends": [
    "eslint:recommended",
    "standard",
    "prettier"
  ],
  "plugins": [
    "unicorn"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "node": true
  },
  "rules": {
    // Do not allow importing of implicit dependencies.
    "import/no-extraneous-dependencies": "error",
    "unicorn/prefer-node-protocol": "error"
  },
  "overrides": [
    // Extra rules for Cypress tests
    { "files": ["**/*.spec.ts"], "extends": ["plugin:cypress/recommended"] }
  ]
}
