.binary-file {
	padding: @line-height-computed / 2;
	background-color: @gray-lightest;
	text-align: center;
	overflow: auto;
	img {
		max-width: 100%;
		max-height: 90%;
		display: block;
		margin: auto;
		margin-bottom: @line-height-computed / 2;
		border: 1px solid @gray;
		.box-shadow(0 2px 3px @gray;);
		background-color: white;
	}
	p.no-preview {
		font-size: 24px;
		color: @gray;
	}

}
