.history-toolbar {
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	top: @ide-body-top-offset;
	height: @editor-toolbar-height;
	line-height: 1;
	font-size: @font-size-small;
	background-color: @history-toolbar-bg-color;
	z-index: 1;
	color: @history-toolbar-color;
	padding-left: (@line-height-computed / 2);
}
.history-toolbar when (@is-overleaf = false) {
	border-bottom: @toolbar-border-bottom;
}
	.history-toolbar-selected-version {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-right: (@line-height-computed / 2);
	}
		.history-toolbar-time,
		.history-toolbar-selected-label {
			font-weight: bold;
		}
	.history-toolbar-actions {
		flex-grow: 1;
	}
		.history-toolbar-btn {
			.btn;
			.btn-info;
			.btn-xs;
			padding-left: @padding-small-horizontal;
			padding-right: @padding-small-horizontal;
			margin-right: (@line-height-computed / 2);
		}
	.history-toolbar-entries-list {
		flex: 0 0 @changesListWidth;
		padding: 0 10px;
		border-left: 1px solid @editor-border-color;
	}

.history-entries {
	font-size: @history-base-font-size;
	color: @history-base-color;
	height: 100%;
	background-color: @history-base-bg;
}

.history-entry-day {
	display: block;
	background-color: @history-entry-day-bg;
	color: #FFF;
	padding: 5px 10px;
	line-height: 1;
}

.history-entry-details {
	background-color: #FFF;
	margin-bottom: 2px;
	padding: 5px 10px;
	cursor: pointer;

	.history-entry-selected &,
	.history-entry-label-selected & {
		background-color: @history-entry-selected-bg;
		color: #FFF;
	}
}
	.history-label {
		display: inline-block;
		color: @history-entry-label-color;
		font-size: @font-size-small;
		margin-bottom: 3px;
		margin-right: 10px;
		white-space: nowrap;
		.history-entry-selected &,
		.history-entry-label-selected & {
			color: @history-entry-selected-label-color;
		}
	}
		.history-label-comment,
		.history-label-delete-btn {
			padding: 0 @padding-xs-horizontal 1px @padding-xs-horizontal;
			border: 0;
			background-color: @history-entry-label-bg-color;
			.history-entry-selected &,
			.history-entry-label-selected & {
				background-color: @history-entry-selected-label-bg-color;
			}
		}
		.history-label-comment {
			display: block;
			float: left;
			border-radius: 9999px;
			max-width: 190px;
			overflow: hidden;
			text-overflow: ellipsis;
			.history-label-own & {
				padding-right: (@padding-xs-horizontal / 2);
				border-radius: 9999px 0 0 9999px;
			}
		}
		.history-label-delete-btn {
			padding-left: (@padding-xs-horizontal / 2);
			padding-right: @padding-xs-horizontal;
			border-radius: 0 9999px 9999px 0;
			&:hover {
				background-color: darken(@history-entry-label-bg-color, 8%);
				.history-entry-selected &,
				.history-entry-label-selected & {
					background-color: darken(@history-entry-selected-label-bg-color, 8%);
				}
			}
		}

	.history-label-tooltip {
		white-space: normal;
		padding: (@line-height-computed / 4);
		text-align: left;
	}
		.history-label-tooltip-title,
		.history-label-tooltip-owner,
		.history-label-tooltip-datetime {
			margin: 0 0 (@line-height-computed / 4) 0;
		}  
		.history-label-tooltip-title {
			font-weight: bold;
		}
		.history-label-tooltip-datetime {
			margin-bottom: 0;
		}

	.history-entry-changes {
		.list-unstyled;
		margin-bottom: 3px;
	}
		.history-entry-change {

		}
			.history-entry-change-action {
				margin-right: 0.5em;
			}

			.history-entry-change-doc {
				color: @history-highlight-color;
				font-weight: bold;
				word-break: break-all;
				.history-entry-selected &,
				.history-entry-label-selected & {
					color: #FFF;
				}
			}
	.history-entry-metadata {

	}	
		.history-entry-metadata-time {
			white-space: nowrap;
		}

		.history-entry-metadata-users {
			display: inline;
			padding: 0;
		}
			.history-entry-metadata-user {
				display: inline;
				&::after {
					content: ', ';
				}
				&:last-of-type::after {
					content: none;
				}
			}

.history-entries-list-upgrade-prompt {
	background-color: #FFF;
	margin-bottom: 2px;
	padding: 5px 10px;
}

.history-labels-list {
	.history-entries;
	overflow-y: auto;
}
	.history-entry-label {
		.history-entry-details;
		padding: 7px 10px;
		&.history-entry-label-selected {
			background-color: @history-entry-selected-bg;
			color: #FFF;
		}
	}

.history-file-tree-inner {
	.full-size;
	overflow-y: auto;
	background-color: @file-tree-bg;

	.loading {
		color: #FFF;
		font-size: @history-base-font-size;
		text-align: center;
		font-family: @font-family-serif;
	}
}

.history-file-tree-inner when (@is-overleaf = false) {
	font-size: 0.8rem;
}

	.history-file-entity-wrapper {
		color: #FFF;
		margin-left: (@line-height-computed / 2);
	}
		.history-file-entity-link {
			display: block;
			position: relative;
			color: @file-tree-item-color;
			line-height: @file-tree-line-height;
			&:hover {
				background-color: @file-tree-item-hover-bg;
				color: @file-tree-item-color;
				text-decoration: none;
			}
			&:focus {
				color: @file-tree-item-color;
				outline: none;
				text-decoration: none;
			}
			&:hover when (@is-overleaf = true) {
				.fake-full-width-bg(@file-tree-item-hover-bg);
			}
		}
		.history-file-entity-link-selected {
			background-color: @file-tree-item-selected-bg;
			font-weight: bold;
			padding-right: 32px;
			color: #FFF;
			.fake-full-width-bg(@file-tree-item-selected-bg);
			&:hover {
				background-color: @file-tree-item-hover-bg;
			}
		}
			.history-file-entity-icon {
				color: @file-tree-item-icon-color;
				font-size: 14px;
				margin-right: .5em;
				.history-file-entity-link-selected & {
					color: #FFF;
				}
			}
			.history-file-entity-name {
				display: block;
				max-width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

		.history-file-entity-link-selected when (@is-overleaf = false) {
			color: @brand-primary;
			&:hover,
			&:focus {
				color: @brand-primary;
			}
			.history-file-entity-icon {
				color: @brand-primary;
			}
		}
