.modal-hotkeys {
	font-size: 14px;
	
	h3:first-child {
		margin-top: 0;
	}
	
	.hotkey {
		margin-bottom: @line-height-computed / 4;
	}
	
	.combination {
		padding: 4px 8px;
		border-radius: 3px;
		background-color: @gray-dark;
		color: white;
		font-family: @font-family-sans-serif;
		font-weight: 600;
		margin-right: @line-height-computed / 4;
	}
}