#left-menu {
	position: absolute;
	width: @left-menu-width;
	padding: (@line-height-computed / 2);
	top: 0;
	bottom: 0;
	background-color: #f4f4f4;
	z-index: 100;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: left ease-in-out @left-menu-animation-duration;
	transition: left ease-in-out @left-menu-animation-duration;
	font-size: 14px;

	left: -280px;
	&.shown {
		left: 0;
	}

	h4 {
		font-family: @font-family-sans-serif;
		font-weight: 400;
		font-size: 1rem;
		margin: (@line-height-computed / 2) 0;
		padding-bottom: (@line-height-computed / 4);
		color: @gray-light;
		border-bottom: 1px solid @gray-lighter;
	}

	> h4:first-child {
		margin-top: 0;
	}

	ul.nav {
		a {
			cursor: pointer;
			&:hover, &:active {
				background-color: @link-color;
				color: white;
				i {
					color: white;
				}
			}
			i {
				color: @gray;
			}
			padding: (@line-height-computed / 4);
			font-weight: 700;
		}
		.link-disabled {
				color: @gray-light;
		}
	}

	ul.nav-downloads {
		li {
			display: inline-block;
			text-align: center;
			width: 100px;
			a {
				color: @gray-dark;
			}
			i {
				margin: (@line-height-computed / 4) 0;
			}
		}
	}

	form.settings {
		label {
			float: left;
			font-weight: normal;
			color: @gray-dark;
			margin-bottom: 0;
		}
		select {
			float: right;
			width: 50%;
			// height: 30px;
			// margin: 2px 0;
			// background: none;
			// border: none;
			// box-shadow: none;
			// color: @link-color;
			// cursor: pointer;
			// font-size: 14px;
			// font-weight: 700;
		}
		.form-controls {
			clear: both;
			padding: (@line-height-computed / 4);
			&:hover {
				background-color: @link-color;
				// select.form-control {
				// 	color: white;
				// }
				label {
					color: white;
				}
			}
			&:after {
				content:"";
				display:table;
				clear:both;
			}
		}
	}
}

#left-menu-mask {
	.full-size;
	opacity: 0.4;
	background-color: #999;
	z-index: 99;
}