.pdf-viewer, .pdf-logs, .pdf-errors, .pdf-uncompiled {
	.full-size;
	top: 58px;
}

.pdf-logs, .pdf-errors, .pdf-uncompiled {
	padding: @line-height-computed / 2;
}

.pdf-uncompiled {
	.fa {
		color: @blue;
	}
}

.pdf-viewer {
	.pdfjs-viewer {
		.full-size;
		background-color: @gray-lighter;
		overflow: scroll;
		canvas {
			background: white;
			box-shadow: black 0px 0px 10px;
		}
		.page-container {
			margin: 10px auto;
			padding: 0 10px;
			box-sizing: content-box;
		}
	}
	.progress-thin {
		position: absolute;
		top: -2px;
		height: 3px;
		left: 0;
		right: 0;
		.progress-bar {
			height: 100%;
			background-color: @link-color;
		}
	}
	.pdfjs-controls {
		position: absolute;
		padding: @line-height-computed / 2;
		top: 0;
		left: 0;
		display: inline-block;
		.btn-group {
			transition: opacity 0.5s ease, visibility 0 linear 0.5s;
			visibility: hidden;
			opacity: 0;
		}
		&:hover, &.flash {
			.btn-group {
				transition: none;
				visibility: visible;
				opacity: 1;
			}
		}
		i.fa-arrows-h {
			border-right: 2px solid white;
			border-left: 2px solid white;
		}
		i.fa-arrows-v {
			border-top: 2px solid white;
			border-bottom: 2px solid white;
		}
	}
}

.log-btn {
	position: relative;
	.label {
		position: absolute;
		top: 0;
		right: 0;
		padding: .15em .6em .2em;
		font-size: 60%;
	}
	&.active, &:active {
		.label {
			display: none;
		}
	}
}

.pdf-logs {
	overflow: auto;
	.alert {
		font-size: 0.9rem;
		margin-bottom: @line-height-computed / 2;
		cursor: pointer;
		.line-no {
			float: right;
			color: @gray;
			font-weight: 700;
		}
		.entry-message {
			font-weight: 700;
			//font-family: @font-family-monospace;
		}
		.entry-content {
			white-space: pre-wrap;
			font-size: 0.8rem;
			//font-family: @font-family-monospace;
		}
	}
	pre {
		font-size: 12px;
	}
	.dropdown {
		position: relative;
	}
}

.synctex-controls {
	padding: 68px 2px 0;
	.btn-xs {
		line-height: 1.3;
		padding: 0 2px 0;
	}
}
				