extends ./layout-base

block entrypointVar
	- entrypoint = 'main'

block body
	if (typeof(suppressNavbar) == "undefined")
		include layout/navbar

	block content

	if (typeof(suppressFooter) == "undefined")
		if showThinFooter
			include layout/footer
		else
			include layout/fat-footer

		include _cookie_banner

	!= moduleIncludes("contactModal", locals)
