extends ./layout-base

include ./_mixins/formMessages
include ./_mixins/bootstrap_js

block entrypointVar
	- entrypoint = 'marketing'

block body
	if (typeof suppressNavbar === "undefined")
		if bootstrapVersion === 5
			include layout/navbar-marketing-bootstrap-5
		else
			include layout/navbar-marketing

	block content

	if (typeof suppressFooter === "undefined")
		if showThinFooter
			include layout/footer-marketing
		else
			include layout/fat-footer

	if (typeof(suppressCookieBanner) == 'undefined')
		include _cookie_banner

	if bootstrapVersion === 5
		!= moduleIncludes("contactModal-marketing-bootstrap-5", locals)
	else
		!= moduleIncludes("contactModal-marketing", locals)

block prepend foot-scripts
	+bootstrap-js(bootstrapVersion)
