extends layout

block content
	.container
		.row
			.span12.span-box
				.page-header
					h1 LaTeX Resources
						small &nbsp; We are the LaTeX Editor, here are some other LaTeX resources we like
				div
					ul
						li 
							a(href='http://en.wikibooks.org/wiki/LaTeX') LaTeX Wikibook
							span &nbsp; - Covering 95% of what  you need to know about LaTeX in a clear and simple way with great examples you can often copy and paste
						li
							a(href='http://detexify.kirelabs.org/classify.html') Detexify
							span &nbsp; - A great way of finding LaTeX symbols
						li
							a(href='http://www.tug.dk/FontCatalogue/seriffonts.html') LaTeX Fonts
							span &nbsp; -  A collection of LaTeX fonts
						li
							a(href='http://mathurl.com/') MathUrl
							span &nbsp; - allows for live equation editing
						li
							a(href='http://webdemo.visionobjects.com/equation.html') WebEquation 
							span &nbsp; - draw the symbol on the screen to see the LaTeX equivalent
						li
							a(href='http://www.texample.net/') TeXample.net 
							span &nbsp; - a great site for tikz reference
						li
							a(href='http://www.howtotex.com/') howtoTeX.com 
							span &nbsp; - a useful collection of templates, tutorials and how-tos
						li
							a(href='http://truben.no/latex/table/') LaTeX table editor
							span &nbsp; - if you struggle with tables in LaTeX this tool gives you a nice 'excel like' view to help you along
						li
							a(href="http://www.math.binghamton.edu/erik/beameruserguide.pdf") Beamer user guide
							span &nbsp; - A good guide into beamer
				div
					h3 Mobile Apps
					ul
						li
							a(href='https://play.google.com/store/apps/details?id=coolcherrytrees.software.detexify&feature=search_result#?t=W251bGwsMSwxLDEsImNvb2xjaGVycnl0cmVlcy5zb2Z0d2FyZS5kZXRleGlmeSJd') Android
						li
							a(href='https://itunes.apple.com/app/detexify/id328805329?mt=8') Detexify for ios
						li 
							a(href='http://www.windowsphone.com/en-us/store/app/detexify/3e6813bd-04b1-455b-bc14-14dfe904c54b') Detexify for Windows Phone
						li
							a(href='http://www.windowsphone.com/en-us/store/app/repotex/694085e0-e825-425b-a40d-40bce5cecb3b') Repotex
						li
							a(href='http://www.windowsphone.com/en-us/store/app/fasttexdraw/3e1b4255-7798-45ec-b679-a43e74e82769') FastTeXDraw for windows phone

					hr
					div 
						| If you know of other resources, please 
						a.js-tender-widget(href='#') recommend
						&nbsp; them to us.
	include ./general/small-footer

