script(type='text/ng-template', id='scribtexModalTemplate')
	.modal-header
		h3 Looking for ScribTeX?
	.modal-body
		p ScribTeX has moved to <strong>https://scribtex.sharelatex.com</strong>. Please update your bookmarks.
		p(style="text-align: center") You can find the page you were looking for here:
		p(style="text-align: center")
			a(href="https://scribtex.sharelatex.com"+scribtexPath, style="font-size: 16px", ng-non-bindable) https://scribtex.sharelatex.com#{scribtexPath}
