script(type="text/ng-template", id="v1ProjectTooltipTemplate")
	span This project is from Overleaf v1 and has not yet been automatically or manually imported to v2.


script(type="text/ng-template", id="v1TagTooltipTemplate")
	span This folder/tag is from Overleaf v1. Once these projects are moved to v2 the tag will also move.