script(type="text/ng-template", id="v1ProjectTooltipTemplate")
	span This project is from Overleaf v1 and has not been imported to v2 yet.


script(type="text/ng-template", id="v1TagTooltipTemplate")
	span This folder/tag is from Overleaf v1. Once you move these projects to v2 the tag will also move.