script(type="text/ng-template", id="v1ProjectTooltipTemplate")
	span This project is from Overleaf v1 and has not been imported to v2 yet.


script(type="text/ng-template", id="v1TagTooltipTemplate")
	span This folder/tag is from Overleaf v1. Please go back to v1 to manage.