script(type="text/ng-template", id="v1ProjectTooltipTemplate")
	span This project is from Overleaf version 1 and has not been imported to the beta yet


script(type="text/ng-template", id="v1TagTooltipTemplate")
	span This folder is from Overleaf version 1 and has not been imported to the beta yet