@ieee-blue : #00629B;
@ieee-dark-blue : #002855;
@ieee-cyan : #00B5E2;
@ieee-dark-cyan : #009CA6;
@ieee-red : #BA0C2F;
@ieee-orange : #FFA300;
@ieee-yellow : #FFD100;
@ieee-light-green : #78BE20;
@ieee-dark-green : #00843D;
@ieee-purple : #981D97;

@ol-blue-gray-0 : #F4F5F8;
@ol-blue-gray-1 : #D8E0E6;
@ol-blue-gray-2 : #8195A1;
@ol-blue-gray-3 : #425E6E;
@ol-blue-gray-4 : #26425F;
@ol-blue-gray-5 : #1E3048;
@ol-blue-gray-6 : #112437;

@ol-green : @ieee-dark-green;
@ol-dark-green : darken(@ieee-dark-green, 15%);
@ol-blue : @ieee-blue;
@ol-dark-blue : @ieee-dark-blue;
@ol-red : @ieee-red;
@ol-dark-red : darken(@ieee-red, 15%);

@brand-primary : @ieee-blue;
@brand-secondary : @ieee-dark-blue;
@brand-success : @ol-blue;
@brand-info : @ieee-dark-cyan;
@brand-warning : @ieee-orange;
@brand-danger : @ol-red;

@btn-primary-bg : @ieee-blue;
@link-color : @ieee-blue;
@link-hover-color : @ieee-dark-blue;

@toolbar-btn-active-bg-color : @ieee-blue;
@file-tree-item-selected-bg : @ieee-blue;
@file-tree-multiselect-bg : @ieee-cyan;

@editor-toggler-hover-bg-color: @ieee-blue;

@toggle-switch-highlight-color: @ieee-blue;

@footer-link-color : @link-color;
@footer-link-hover-color : @link-hover-color;

@navbar-subdued-hover-color : @ieee-blue;
@navbar-default-link-hover-bg : @ieee-blue;
@navbar-default-link-hover-color: @ieee-blue;
@navbar-default-link-active-bg : @ieee-blue;
