extends ../layout/layout-no-js

block vars
	- metadata = { title: 'Something went wrong' }

block body
	body.full-height
		main.content.content-alt.full-height#main-content
			.container.full-height
				.error-container.full-height
					.error-details
						p.error-status I'm sorry, Dave. I'm afraid I can't do that.
						p.error-description There was a problem with your latest request
							if(message)
								|: #{message}
							|.
							br
							| Please go back and try again.
						p.error-description
							| If the problem persists, please contact us at
							|
							a(href="mailto:" + settings.adminEmail) #{settings.adminEmail}
							| .
						a.error-btn(href="javascript:history.back()") Back
						| &nbsp;
						a.btn.btn-default(href="/") Home
