extends ../layout/layout-no-js

block vars
	- metadata = {title: 'Something went wrong'}

block body
	body.full-height
		main#main-content.content.content-alt.full-height
			.container.full-height
				.error-container.full-height
					.error-details
						p.error-status Something went wrong, sorry.
						p.error-description
							| There was a problem with your request.
							if message
								|
								| The error is:
						if message
							p.error-box
								| #{message}
						p.error-description
							| Please go back and try again.
							| If the problem persists, please contact us at
							|
							a(href='mailto:' + settings.adminEmail target='_blank') #{settings.adminEmail}
							| .
						p.error-actions
							a.btn.btn-primary(href='/') Home
