doctype html
html.full-height(itemscope, itemtype='http://schema.org/Product')
	head
		title Something went wrong
		link(rel="icon", href="/favicon.ico")
		if buildCssPath
			link(rel="stylesheet", href=buildCssPath())

	body.full-height
		main.content.content-alt.full-height
			.container.full-height
				.error-container.full-height
					.error-details
						p.error-status I'm sorry, Dave. I'm afraid I can't do that.
						p.error-description(ng-non-bindable) There was a problem with your latest request
							if(message)
								|: #{message}
							|.
							br
							| Please go back and try again.
						p.error-description(ng-non-bindable)
							| If the problem persists, please contact us at
							|
							a(href="mailto:" + settings.adminEmail) #{settings.adminEmail}
							| .
						a.error-btn(href="javascript:history.back()") Back
						| &nbsp;
						a.btn.btn-default(href="/") Home
