extends ../layout

block content
	.content.content-alt
		.container
			.error-container
				.error-figure
					img.error-img(
						src="/img/brand/404-visual.svg"
						alt="Not found"
					)
				.error-details
					p.error-status Not found
					p.error-description #{translate("cant_find_page")}
					a.error-btn(href="/") Home