extends ../layout

block content
	main.content.content-alt
		.container
			.error-container
				.error-details
					p.error-status Not found
					p.error-description #{translate("cant_find_page")}
					a.error-btn(href="/") Home
