extends ../layout-marketing

block vars
	- bootstrap5PageStatus = 'disabled'

block content
	main.content.content-alt#main-content
		.container
			.error-container
				.error-details
					p.error-status Not found
					p.error-description #{translate("cant_find_page")}
					p.error-actions
						a.error-btn(href="/") Home
