extends ../layout

block content
	.content
		.container
			.error-container
				.error-figure.error-figure-404
					img.img-responsive(
						src="/img/brand/404-visual.svg"
						alt="Not found"
					)
				.error-details
					h1.error-code 404
					p.error-status Not found
					p.error-description #{translate("cant_find_page")}
					a.error-btn(href="/") Home