extends ../layout/layout-no-js

block vars
	- metadata = { title: 'Something went wrong' }

block body
	body
		main.content.content-alt#main-content
			.container
				.error-container
					h1.mb-4 Something went wrong, sorry.
					p.fs-5 Our staff are probably looking into this, but if it continues, please check our status page at
						|
						|
						a(href="http://" + settings.statusPageUrl) #{settings.statusPageUrl}
						|
						| or contact us at
						|
						a(href="mailto:" + settings.adminEmail) #{settings.adminEmail}
						| .
					p.mt-5
						a.btn.btn-primary.d-block.d-md-inline-block(href="/") Home
