extends ../layout

block content
	.container
		.row
			.span4.offset4.span-box
				.page-header
					h1 Maintenance
				p 
					| Sorry, ShareLaTeX is briefly down for maintenance.
					| We should be back within minutes, but if not, or you have
					| an urgent request, please contact us at
					| support@sharelatex.com
