extends ../layout

block content
	.content
		.container
			.row
				.col-md-8.col-md-offset-2.text-center
					.page-header
						h1 Maintenance
					p (ng-non-bindable)
						| Sorry, #{settings.appName} is briefly down for maintenance.
						| We should be back within minutes, but if not, or you have
						| an urgent request, please contact us at
						| &nbsp;#{settings.adminEmail}
