.long-form-features
	.row
		.span7
			h2 A LaTeX Editor for smooth collaboration
			p Keep your LaTeX collaborators up to date by letting everyone access and edit the same LaTeX document.
			p.subdued 
				| The days of making sure everyone has access to the latest version are over; the latest version is always available online.
				| You can even work on the document at the same time as your collaborators with our real-time editor,
				| and our built in chat will help you communicate while you're editing.
		.span5
			img(src="/img/screenshots/editorCollaborating.png")

	.row
		.span5
			img(src="/img/screenshots/editorCode.png")
		.span7
			h2 A LaTeX Editor that is easy to use
			p ShareLaTeX is the easiest LaTeX editor to get started if you’ve never used LaTeX before.
			p.subdued
				| There's no installation needed and our example projects are ready to be compiled with one click.
				| You or your collaborators no longer need to be experts in LaTeX to be able to edit your documents effectively.
				| Our editor also highlights any errors in the LaTeX log to make debugging as simple as possible.

	.row
		.span7
			h2 Work on LaTeX from anywhere
			p You can access our LaTeX editor and compile your LaTeX documents from any computer with an internet connection.
			p.subdued
				| You don’t need to worry about getting LaTeX set up on each computer you use, and compatibility issues are gone.
				| There are no lock-ins and you can download your projects to work offline any time you like.
				| You can also upload existing documents to get your work onto ShareLaTeX quickly.
		.span5
			img(src="/img/screenshots/editorPDF.png")

	.row
		.span5
			img(src="/img/dropbox/dropbox_banner_tall.png")
		.span7
			h2 Easily sync with your offline files
			p Work offline using dropbox 
			p.subdued
				| Dropbox sync keeps all of your LaTeX projects synced to your dropbox folder. You can make changes inside your dropbox then see
				| them sync back to ShareLaTeX. Collaborate with users who like to work offline with their own tools by sharing the Dropbox 
				| folder with them.

