.row-fluid
	.span12
		div.alert.alert-success.open-source
			| ShareLaTeX is open source. 
			a(href="https://github.com/sharelatex/sharelatex") Fork us on GitHub.
	.span12
		.small-footer
			ul
				li © ShareLaTeX
				li
					a(href="/tos") Terms of Service
				li
					a(href="/privacy_policy") Privacy Policy
				li
					a(href="/user/subscription/plans") Plans & Pricing
				li
					a(href="/university") University Licenses
				li
					a(href="/dropbox") Dropbox
			ul
				li
					a(href="/security") Security
				li
					a.js-tender-widget(href='#') Contact us
				li
					a(href="/attribution") Thanks
				li
					a(href="/blog") Blog
				li
					a(href="http://www.twitter.com/sharelatex") Twitter
				li
					a(href="http://www.facebook.com/pages/ShareLaTeX/301671376556660") Facebook
				li
					a(href="https://plus.google.com/115074691861228882827", rel="publisher") Google+
			ul
				li LaTeX Editor - ShareLaTeX
