.container 
	.row
		.span12
			.social-footer	
				#fb-root
				script(type="text/javascript")
					(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
					fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				.social
					ul
						li.facebook
							.fb-like(data-href="https://www.sharelatex.com", data-send="true", data-width="450", data-show-faces="false", data-font="arial", data-action="recommend")
					ul
						li.google
							.g-plusone(data-annotation="inline", data-width="300")
							script(type="text/javascript")
								(function() {
									var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
									po.src = 'https://apis.google.com/js/plusone.js';
									var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
								})();
						li.twitter
							a(href="https://twitter.com/sharelatex", class="twitter-follow-button", data-show-count="false") Follow @sharelatex
							script(type="text/javascript")
								!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
