extends ../layout/layout-no-js

block vars
	- metadata = { title: 'Unsupported browser', viewport: true }

block body
	body.full-height
		main.content.content-alt.full-height
			.container.full-height
				.error-container.full-height
					.error-details
						h1.error-status Unsupported Browser
						p.error-description
							| Sorry, we don't support your browser anymore. Find out more about #[a(href="https://www.overleaf.com/learn/how-to/What_browsers_do_you_support") what browsers we support].
							br
							| If you think you're seeing this message in error, please #[a(href="/contact") let us know].
