@import '../ds/all'; // DS design system styles
@import 'ciam-layout';
@import 'ciam-links';
@import 'ciam-login';
@import 'ciam-password-reset';
@import 'ciam-register';
@import 'ciam-six-digits';
@import 'ciam-try-premium';
@import 'ciam-onboarding';
