@mixin ciam-body-xs-regular() {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
}

@mixin ciam-body-xs-semibold() {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25rem;
}

@mixin ciam-body-sm-regular() {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

@mixin ciam-body-sm-semibold() {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

@mixin ciam-body-md-regular() {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

@mixin ciam-body-md-semibold() {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

@mixin ciam-body-lg-regular() {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

@mixin ciam-body-lg-semibold() {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
}

@mixin ciam-heading-xs-regular() {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
}

@mixin ciam-heading-xs-semibold() {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
}

@mixin ciam-heading-sm-regular() {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

@mixin ciam-heading-sm-semibold() {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

@mixin ciam-heading-md-regular() {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

@mixin ciam-heading-md-semibold() {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

@mixin ciam-heading-lg-regular() {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}

@mixin ciam-heading-lg-semibold() {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}

@mixin ciam-heading-xl-regular() {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

@mixin ciam-heading-xl-semibold() {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
}
