.ciam-layout {
  padding: var(--ds-spacing-350);
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @include ds-body-md-regular;
}

.ciam-enabled {
  font-family: var(--ds-font-family-sans), sans-serif;
  color: var(--ds-color-text-primary);
  font-size: var(--ds-font-size-400);
  line-height: 1.5;

  .ciam-container {
    flex: 1 1 auto;
  }

  .brand {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 64px;
    width: 130px;
    margin: var(--ds-spacing-350) auto;
    display: block;

    @include media-breakpoint-up(sm) {
      margin: var(--ds-spacing-350) var(--ds-spacing-800);
    }
  }

  h1 {
    @include ds-heading-sm-semibold;
  }

  .ciam-card {
    box-shadow:
      0 4px 6px -4px rgb(0 0 0 / 10%),
      0 1px 29px -3px rgb(0 0 0 / 16%);
    padding: var(--ds-spacing-800) var(--ds-spacing-400);
    border-radius: var(--ds-border-radius-400);
    max-width: 460px;
    margin: var(--ds-spacing-400) auto;

    @include media-breakpoint-up(sm) {
      padding: var(--ds-spacing-1300);
    }
  }

  footer {
    display: flex;
    gap: var(--ds-spacing-600);
    text-transform: uppercase;
    justify-content: center;
    margin: var(--ds-spacing-350) auto;

    @include media-breakpoint-up(sm) {
      margin: var(--ds-spacing-350) var(--ds-spacing-800);
      justify-content: start;
    }

    a {
      text-decoration: none;

      @include ds-body-sm-regular;
    }
  }
}
