@import '../ds/mixins';

.ciam-six-digits-container {
  position: relative;
  min-width: 180px;

  .ciam-six-digits-input {
    @include ds-heading-md-regular;

    letter-spacing: 0.3em;
    padding-left: calc(50% - 3.3em) !important;
    font-variant-numeric: tabular-nums;
  }

  .ciam-six-digits-dash {
    @include ds-heading-md-regular;

    pointer-events: none;
    color: var(--ds-color-neutral-400);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
