.ciam-enabled,
.website-redesign:not(.application-page) .ciam-enabled .notification {
  // Links, used in services/web/frontend/stylesheets/base/links.scss
  --link-color: currentcolor;
  --link-hover-color: var(--ds-color-text-primary);
  --link-visited-color: var(--ds-color-text-secondary);
  --link-text-decoration: underline;
  --link-hover-text-decoration: underline;

  a {
    text-decoration-thickness: var(--ds-link-text-decoration-thickness);
    text-underline-offset: 19.5%;
  }

  a:hover,
  a:focus-visible {
    text-decoration-thickness: 0.17em;
  }

  a:focus-visible {
    &:not(.btn) {
      // don't override button focus styles
      box-shadow: 0 0 0 2px var(--ds-color-yellow-500);
      outline: none;
      color: var(--ds-color-text-primary);
      background-color: var(--ds-color-yellow-500);
      border-radius: 1px;
    }

    &.ciam-image-link {
      @include ds-focus-outline;

      background-color: transparent;
    }
  }
}
