@import 'ds-design-system';

.ciam-register-columns {
  display: flex;
  flex-grow: 1;
}

.ciam-register-login-link {
  text-align: center;
  margin: 0;
  padding: var(--ds-spacing-200) 0;
}

.ciam-work-uni-sso {
  color: var(--ds-color-text-secondary);
  padding-top: var(--ds-spacing-200);
  margin-bottom: var(--ds-spacing-400);
  font-weight: var(--ds-font-weight-semibold);
}

.ciam-register-container {
  display: flex;
  flex-direction: column;

  .login-register-or-text-container {
    @include ds-body-xs-semibold;

    gap: var(--ds-spacing-250);
    padding: var(--ds-spacing-200) 0 0 0;
    margin-bottom: var(--ds-spacing-400);

    &::before,
    &::after {
      background-color: var(--ds-color-neutral-200);
    }
  }

  .login-register-error-container {
    padding-bottom: 0;

    .notification {
      margin-bottom: var(--ds-spacing-400);
    }
  }
}

.ciam-password-group {
  margin-bottom: var(--ds-spacing-400);
}

.ciam-password-requirements-message {
  @include ds-body-sm-regular;

  color: var(--ds-color-text-secondary);
  padding-top: var(--ds-spacing-200);
  margin: 0;
}
