.ciam-password-set,
.ciam-password-reset {
  h1 {
    margin-bottom: var(--ds-spacing-600);
  }

  p.intro-p {
    margin-bottom: var(--ds-spacing-800);
  }

  .notification {
    margin-bottom: var(--ds-spacing-800);
  }

  .password-policy {
    color: var(--ds-color-text-secondary);
  }

  &.ciam-password-set .form-group-ds {
    margin-bottom: var(--ds-spacing-200);
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: var(--ds-spacing-400);
  }
}
