// TODO: Replace `fuchsia` by the correct colors.

.ciam-enabled {
  // Links
  // used in services/web/frontend/stylesheets/base/links.scss
  --link-color: var(--ds-color-text-secondary);
  --link-hover-color: fuchsia;

  // TODO: validate that this is correct
  --link-visited-color: var(--ds-color-text-secondary);
  --link-color-dark: fuchsia;
  --link-hover-color-dark: fuchsia;
  --link-visited-color-dark: fuchsia;
  --link-text-decoration: underline;
  --link-hover-text-decoration: none;
}
