.ciam-enabled {
  --ciam-font-weight-regular: 400;
  --ciam-font-weight-medium: 500;
  --ciam-font-weight-semibold: 600;
  --ciam-font-weight-bold: 700;
  --ciam-font-family-sans: inter, sans-serif;
  --ciam-spacing-50: 2px;
  --ciam-spacing-100: 4px;
  --ciam-spacing-150: 6px;
  --ciam-spacing-200: 8px;
  --ciam-spacing-250: 10px;
  --ciam-spacing-300: 12px;
  --ciam-spacing-350: 14px;
  --ciam-spacing-400: 16px;
  --ciam-spacing-500: 20px;
  --ciam-spacing-600: 24px;
  --ciam-spacing-700: 28px;
  --ciam-spacing-800: 32px;
  --ciam-spacing-900: 36px;
  --ciam-spacing-1000: 40px;
  --ciam-spacing-1100: 44px;
  --ciam-spacing-1200: 48px;
  --ciam-spacing-1300: 52px;
  --ciam-spacing-1400: 56px;
  --ciam-spacing-1500: 60px;
  --ciam-spacing-1600: 64px;
  --ciam-spacing-1700: 68px;
  --ciam-spacing-1800: 72px;
  --ciam-spacing-1900: 76px;
  --ciam-spacing-2000: 80px;
  --ciam-spacing-2100: 84px;
  --ciam-spacing-2200: 88px;
  --ciam-spacing-2300: 92px;
  --ciam-spacing-2400: 96px;
  --ciam-base-unit: 4px;
  --ciam-font-size-300: 12px;
  --ciam-font-size-350: 14px;
  --ciam-font-size-400: 16px;
  --ciam-font-size-450: 18px;
  --ciam-font-size-500: 20px;
  --ciam-font-size-600: 24px;
  --ciam-font-size-700: 28px;
  --ciam-font-size-800: 32px;
  --ciam-font-size-1000: 40px;
  --ciam-font-size-1400: 56px;
  --ciam-font-size-1800: 72px;
  --ciam-font-line-height-400: 16px;
  --ciam-font-line-height-500: 20px;
  --ciam-font-line-height-600: 24px;
  --ciam-font-line-height-700: 28px;
  --ciam-font-line-height-800: 32px;
  --ciam-font-line-height-900: 36px;
  --ciam-font-line-height-1000: 40px;
  --ciam-font-line-height-1200: 48px;
  --ciam-font-line-height-1600: 64px;
  --ciam-font-line-height-1800: 72px;
  --ciam-border-width-25: 1px;
  --ciam-border-width-50: 2px;
  --ciam-border-radius-50: 2px;
  --ciam-border-radius-100: 4px;
  --ciam-border-radius-200: 8px;
  --ciam-border-radius-300: 12px;
  --ciam-border-radius-400: 16px;
  --ciam-border-radius-600: 24px;
  --ciam-border-radius-full: 9999px;
}
