// TODO: Replace `fuchsia` by the correct colors.

.ciam-enabled,
.website-redesign:not(.application-page) .ciam-enabled .notification {
  // Links, used in services/web/frontend/stylesheets/base/links.scss
  --link-color: var(--ds-color-text-primary);
  --link-hover-color: var(--ds-color-text-secondary);
  --link-visited-color: var(--ds-color-text-secondary);
  --link-text-decoration: underline;
  --link-hover-text-decoration: none;
}
