.btn.btn-ds.ciam-onboarding-back-button {
  --bs-btn-padding-x: 0;
  --bs-btn-hover-bg: transparent;
}

.ciam-onboarding-email-updates p {
  margin: 0;
}

.ciam-onboarding-privacy-note {
  @include ds-body-sm-regular;

  color: var(--ds-color-text-secondary);
  padding-top: var(--ds-spacing-250);
}

.ciam-onboarding-step {
  @include ciam-vertically-spaced;

  padding-bottom: var(--ds-spacing-400);

  legend {
    @include ciam-h1;
  }
}

.ciam-used-latex-options {
  padding-bottom: var(--ds-spacing-200);
}

details.ciam-onboarding-privacy {
  summary {
    padding: var(--ds-spacing-100) var(--ds-spacing-200);

    @extend .btn, .btn-ds, .btn-tertiary;

    svg {
      margin-left: var(--ds-spacing-200);
      color: var(--ds-color-text-secondary);

      &.flip {
        transform: rotate(180deg);
      }
    }
  }

  .ciam-onboarding-collapse-content {
    margin: var(--ds-spacing-200) var(--ds-spacing-200) var(--ds-spacing-500);

    @include ds-body-sm-regular;
  }
}

.ciam-welcome-interstitial {
  @include full-height-stacked-page;

  background-color: var(--ds-color-white);
  align-items: center;
  justify-content: space-around;
  overflow-y: auto;
  padding: var(--ds-spacing-800) 0;

  main {
    @include ciam-vertically-spaced;

    text-align: center;
  }

  .ciam-welcome-logo {
    height: 70px;
    background: url(../../../public/img/ol-brand/overleaf-o.svg) center
      no-repeat;
    background-size: contain;
  }

  h1 {
    padding-top: var(--ds-spacing-400);

    &:focus {
      outline: none;
    }
  }

  .ciam-welcome-animation {
    margin: 0 auto;
  }

  .ciam-welcome-message {
    @include ds-heading-sm-regular;

    margin: 0;
    padding: var(--ds-spacing-400) 0;
  }

  .ciam-welcome-ds-logo {
    height: 28px;
  }

  .ciam-welcome-skip {
    margin-top: var(--ds-spacing-1000);
  }
}
