@import 'ds-design-system';

.ciam-register-columns {
  display: flex;
  flex-grow: 1;
}

.ciam-register-login-link {
  text-align: center;
  margin: 0;
  padding: var(--ds-spacing-200) 0;
}

.ciam-register-container {
  display: flex;
  flex-direction: column;

  footer .footer-links {
    @include media-breakpoint-up(sm) {
      justify-content: start;
    }
  }
}

.ciam-password-group {
  @include ciam-bottom-margin;
}

.ciam-password-requirements-message {
  @include ds-body-sm-regular;

  color: var(--ds-color-text-secondary);
  padding-top: var(--ds-spacing-200);
  margin: 0;
}
