extends ../../layout

block scripts
	script(type='text/javascript').
		window.subscription_id = '#{subscription_id}'

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2(ng-cloak)
					.card(ng-controller="GroupSubscriptionInviteController")
						.page-header
							h1 You are invited to Join #{licenceName}
						span(ng-show="!requestSent")
							div You can claim a free premium account provided by #{licenceName} by verifying your email

							a.btn.btn-default(href="/project") Skip 
							&nbsp;
							a.btn.btn.btn-primary(ng-click="joinGroup()") Verify email and join Group

						span(ng-show="requestSent")
							div Check your email to complete joinging the group

							a.btn(href="/project") Continue to projects
